openapi: 3.2.0
info:
  description: '## Precision News API


    The Precision News APIs provide access to curated news annotated with metadata tags.'
  version: '1.0'
  title: Bitvore Legacy Portfolio API
  license:
    name: Copyright Bitvore Corp. 2026
servers:
- url: https://api.bitvore.com/
tags:
- name: Portfolio
  description: Portfolio API
paths:
  /portfolioapi/portfolios:
    get:
      tags:
      - Portfolio
      summary: Return User's Portfolios
      description: Returns the user's portfolios
      operationId: handleGetPortfoliosUsingGET
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
                originalRef: PortfolioResponse
        '401':
          description: Unauthorized to view portfolios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - Portfolio
      summary: Add Portfolio
      description: Adds a portfolio. The added porfolio is returned
      operationId: handleAddPortfolioUsingPOST
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
                originalRef: PortfolioResponse
        '401':
          description: Unauthorized to add a portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioSummary'
              originalRef: PortfolioSummary
        description: portfolio
        required: true
  /portfolioapi/portfolios/{portfolioId}:
    get:
      tags:
      - Portfolio
      summary: Return Portfolio
      description: Returns the porfolio with the given Id
      operationId: handleGetPortfolioUsingGET
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
                originalRef: PortfolioResponse
        '401':
          description: Unauthorized to view the portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
    put:
      tags:
      - Portfolio
      summary: Change Portfolio
      description: Changes the portfolio with the given Id, the result of the changes are returned as a portfolio
      operationId: handleModifyPortfolioUsingPUT
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
                originalRef: PortfolioResponse
        '401':
          description: Unauthorized to change the portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioSummary'
              originalRef: PortfolioSummary
        description: portfolio
        required: true
    delete:
      tags:
      - Portfolio
      summary: Delete Portfolio
      description: Deletes the portfolio with the given Id
      operationId: handleDeletePortfolioUsingDELETE
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioResponse'
                originalRef: PortfolioResponse
        '401':
          description: Unauthorized to delete the portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /portfolioapi/portfolios/{portfolioId}/itemUploads:
    post:
      tags:
      - Portfolio
      summary: Upload Portfolio Items
      description: Uploads a CSV file of portfolio items. The Bitvore Id of each item must be present in a column labeled BvID on a header line.
      operationId: handleUploadPortfolioItemsUsingPOST
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioItemResponse'
                originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized to add portfolio items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Portolio CSV file
                  format: binary
              required:
              - file
  /portfolioapi/portfolios/{portfolioId}/items:
    get:
      tags:
      - Portfolio
      summary: Return Portfolio Items
      description: Returns the items in the portfolio with the given Id
      operationId: handleGetPortfolioItemsUsingGET
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioItemResponse'
                originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized to view the portfolio's items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - Portfolio
      summary: Add Portfolio Item
      description: Adds items to the portfolio with the given Id, the added items are returned
      operationId: handleAddPortfolioItemsUsingPOST
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioItemResponse'
                originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized to add portfolio items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PortfolioItem'
                originalRef: PortfolioItem
        description: items
        required: true
    put:
      tags:
      - Portfolio
      summary: Replace Portfolio Items
      description: Replaces the items in the portfolio with the given Id, the added items are returned
      operationId: handleReplacePortfolioItemsUsingPUT
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioItemResponse'
                originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized to change porftolio items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PortfolioItem'
                originalRef: PortfolioItem
        description: items
        required: true
    delete:
      tags:
      - Portfolio
      summary: Delete Portfolio Items
      description: Deletes the specified items in the portfolio with the given Id. If itemId is excluded, all items will be deleted.
      operationId: handleDeletePortfolioItemsUsingDELETE
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: integer
          format: int64
      - name: itemId
        in: query
        description: Id of item(s) to remove
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioItemResponse'
                originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized to delete portfolio items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /portfolioapi/portfolios/{portfolioId}/items/{itemId}:
    delete:
      tags:
      - Portfolio
      summary: Delete Single Portfolio Item
      description: Deletes the specified item in the portfolio with the given Id
      operationId: handleDeletePortfolioItemsUsingDELETE_1
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: Id of item to remove
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioItemResponse'
                originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized to delete portfolio items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Portfolio with given Id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /portfolioapi/version:
    get:
      tags:
      - Portfolio
      summary: Return API Version
      description: Deprecated
      operationId: getVersionUsingGET_2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized to get version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
components:
  schemas:
    PortfolioResponse:
      type: object
      required:
      - count
      properties:
        count:
          type: integer
          format: int32
          example: 1
          description: Number of portfolios returned
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: string
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/PortfolioSummary'
            originalRef: PortfolioSummary
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: PortfolioResponse
      description: Portfolio response.
    PortfolioItem:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          example: 008000AA7
          description: Unique Id of the portfolio item, the format is dictated by the Id scheme used by the porftolio
        name:
          type: string
          example: ACME Corp
          description: Name of the portfolio item, not required for API input but will be returned from API calls
      title: PortfolioItem
      description: Identifies an item in a portolio, i.e., a bond or organization.
    PortfolioItemResponse:
      type: object
      required:
      - count
      properties:
        count:
          type: integer
          format: int32
          example: 1
          description: Number of portfolio items returned
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: string
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/PortfolioItem'
            originalRef: PortfolioItem
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: PortfolioItemResponse
      description: Portfolio item response.
    PortfolioSummary:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          example: 25
          description: Unique Id of the portfolio
        idScheme:
          type: string
          example: cusip
          description: Scheme used for identifying porfolio items, supported values are "cusip" and "bvid", default is "cusip"
        name:
          type: string
          example: My Portfolio
          description: Name of the portfolio
      title: PortfolioSummary
      description: Summary information about a portfolio.
    ReasonResponse:
      type: object
      properties:
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: object
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: object
          description: Response payload
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: ReasonResponse
      description: A response used to explain a failure or issue with the request.
  securitySchemes:
    API_key:
      type: apiKey
      name: X-BV-APIKEY
      in: header
    BasicAuth:
      type: http
      scheme: basic
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            Global: Includes all Bitvore APIs
          tokenUrl: https://api.bitvore.com/oauth/accesstoken
