openapi: 3.2.0
info:
  description: The Cellenus APIs require authentication to ensure the request has been authorized to use it.
  title: Security O Auth2 API
  license:
    name: Copyright Bitvore Corp. 2026
servers:
- url: https://api.bitvore.com/
tags:
- name: OAuth2
  description: Bitvore OAuth2 Authorization Server API
paths:
  /oauth/accesstoken:
    post:
      tags:
      - OAuth2
      summary: Access Token Generation
      description: Issues an access token based on the supplied grant. The server supports both the Resource Owner and Client Credentials grant types, however specific Bitvore API's may only support one. For example only the Client Credentials grant type is supported for the Bitvore News APIs. Please consult the documentation of the API you want to use for its requirements.
      operationId: issueAccessTokenUsingPOST
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenGrantResponse'
                originalRef: AccessTokenGrantResponse
        '400':
          description: Bad requet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
                originalRef: OAuthError
        '500':
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
                originalRef: OAuthError
      deprecated: false
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  default: client_credentials
                  description: Grant type, i.e., client_credentials, password
                username:
                  type: string
                  description: Resource owner's username (use with password grant type)
                password:
                  type: string
                  description: Resource owner's password (use with password grant type)
                client_id:
                  type: string
                  description: Client app ID (use with client_credentials grant type)
                client_secret:
                  type: string
                  description: Resource owner's password (use with client_credentials grant type)
                refreshToken:
                  type: string
                  description: Refresh token
components:
  schemas:
    AccessTokenGrantResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJz93aeyJz93a
          description: Base64 encoded access token
        expires_in:
          type: integer
          format: int64
          example: 1800
          description: Time (in seconds) before token expires
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
          description: Type of token returned
      title: AccessTokenGrantResponse
    OAuthError:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
      title: OAuthError
