openapi: 3.2.0
info:
  title: Bitvore News API API
  license:
    name: Copyright Bitvore Corp. 2026
  version: '1.0'
  description: 'Operations tagged News API across 2 of this provider''s published API definitions: bitvore-corporate-openapi.yml, bitvore-muni-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitvore.com/
tags:
- name: News API
  description: Precision and Economic News
paths:
  /v2/corp/econnews/byfips:
    get:
      tags:
      - News API
      summary: Economic News Search by FIPS
      description: "Provides the ability to search for news relevant to economy of a region: \n * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n \n\n The following is an example of using the API. \n\n To query for the economic news about the Los Angeles region using the FIPS code 037 between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?fips=037&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleFipsEconSearchUsingGET
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/econnews/bylocation:
    get:
      tags:
      - News API
      summary: Economic News Search by Location
      description: "Provides the ability to search for news relevant to economy of a location: \n * State - Querying by state returns only news articles that have been written about events that have occurred within the given state. \n * City - Querying by city returns only news articles that have been written about events that have occurred within the given city. This option requires the use of the State option to avoid ambiguity. \n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n \n\n The following is an example of using the API. \n\n To query for the economic news about Irvine, California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?state=ca&city=irvine&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleEconSearchUsingGET_1
      parameters:
      - name: state
        in: query
        description: State (code) to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        x-example: CA
        schema:
          type: string
      - name: city
        in: query
        description: City to retrieve municipal and economic news for.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news:
    get:
      tags:
      - News API
      summary: Corporate News
      description: "Provides a simple GET oriented corporate news search capability. The search criteria used when querying news includes the following options specified as query parameters which can used together to refine the search results: \n * Bitvore ID - A Bitvore ID, known as a BvID, uniquely identifies a company/organization. Querying by BvID returns only news articles where the identified company is an actor in the story.\n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Similarity - Indicates which (if any) similar articles should be returned, options are \n \"Usage\" and \"None\", default is \"None\". \"Usage\" indicates similar articles can be returned if they \n have different usage restrictions. In other word with this option two similar articles can be returned \n if one is FullUse and the other is FairUse. \n * Org Field - By default each company referenced in an article is identified by its ID and its name. Additional fields will be returned for each company if specified here. The available options are name, domainName, ticker, city, state, and country. If available the additional fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the article. Note: Returning additional fields may cause a small increase in latency. \n \n\n The following are some examples of using the API. \n\n To query for M&A news between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?signal=MergerAcquisition&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"ACME aquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\",\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\" } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n \n\n Each article returned may have one or more groups of referenced articles. The referencedOrgs property holds the list of companies that were directly mentioned in the article and were considered the primary actors. In this example the article was about ACME merging with Wile E. Coyote which were considered the primary actors. \n\n If there is more than one primary actor in an article it is often the case that only a subset of those actors were in the original scope of the input query (bvIds or portfolio). The matchedArticleOrgs will hold that subset of primary actors which were part of the input query. The system will look for articles about subsidiaries of the companies in the original scope of the input query as well. When a subsidiary is the primary actor of a returned article it will be in the referencedOrgs and matchedArticlesOrg field, but the parent company that was specified in the query will be returned in the matchedOrgs property. \n\n In this example the original query was for articles about A Company Manufacturing Everything. The system found this article about its child company ACME. Therefore matchedArticleOrgs lists ACME and matchedOrgs lists A Company Manufacturing Everything which was in the original query. \n\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad bvId found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleNewsSearchUsingGET
      parameters:
      - name: bvIds
        in: query
        description: One or more Bitvore Ids identifying entities to retrieve news for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - News
          - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - domainName
          - ticker
          - city
          - state
          - country
          - cusip
          - figi
          - isin
          - sedol
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - News API
      summary: Advanced Corporate News Query
      description: "Provides an advanced corporate news search capability. The search criteria used when querying news includes a more advanced approach to identifying the company, or organization, scope of the news to return as well as the other content oriented options listed above. The following are the options supported for identifying the organization scope: \n * Bitvore ID - A Bitvore ID, known as a BvID, uniquely identifies a company/organization. Querying by BvID returns only news articles where the identified company is an actor in the story.\n * Portfolio - A portfolio is made up of one or more companies (BvIDs). Querying by portfolio returns only articles where at least one of the companies in the portfolio are an actor in the article. This option cannot be used with the BvID or Foreign ID options. \n * Foreign ID - If the Identification API is used to map BvIDs to ID's foreign to the Bitvore system the ID's mapped to BvIDs are considered foreign ID's which can be used using this parameter instead of a BvID. This option cannot be used with the BvID or Portfolio options. \n * Employees - Returns all articles referencing companies with an estimated number of employees that falls within a specified range using the format of lower-upper, i.e. 50-250. The upper bound may be omitted (50-) to indicate an unbounded range. The ranges must be defined using the predefined measurements: 1, 10, 50, 100, 250, 500, 1000, 5000, 10000. This option cannot be used with the BvID, Foreign ID, or Portfolio options. Note: On 1/11/2020 the range boundary of 200 was replaced by 100 and 250 and will be no longer supported on 7/1/2020. \n * Revenue - Returns all articles referencing companies with an estimated revenue that falls within a specified range using the format of lower-upper, i.e. 500-1000. The upper bound may be omitted (500-) to indicate an unbounded range. The ranges must be defined using the predefined measurements:  0, 1, 10, 50, 100, 500, 1000, 10000. This option cannot be used with the BvID, Foreign ID, or Portfolio options. Note: On 1/11/2020 the range boundary of 200 was replaced with 500 and will be no longer supported on 7/1/2020. \n * NAICS Industry - Returns all articles referencing companies operating within the industry identified by the specified [NAICS](https://www.naics.com/search/) code. \n * SIC Industry - Returns all articles referencing companies operating within the industry identified by the specified [SIC](https://www.osha.gov/pls/imis/sicsearch.html) code. \n * HQ Location - Returns all articles referencing companies whose headquarters is located in the specified location. The location is in the format of city/state/country, i.e., Los Angeles/California/United States. \n * HQ FIPS Area - Returns all articles referencing companies whose headquarters is located in the county or CBSA identified by the given FIPS code. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n \n\n The following content oriented query options are also supported: \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals currently supported can be found [here](https://api.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Usage - A news article may have licensing restrictions placed on it. To filter search \n results to only fair use content specify \"FairUse\" for the Usage option. To filter results to only \n commercially licensed content that grants full use of the content specify \"FullUse\" for the Usage option. \n Specifying \"All\", which is the default option, does not filter the results at all. \n * Org Field - By default each company referenced in an article is identified by its ID and its name. Additional fields will be returned for each company if specified here. The available options are name, domainName, ticker, city, state, and country. If available the additional fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the article. Note: Returning additional fields may cause a small increase in latency.\n \n\n The following are some examples of using the API. \n\n To query for the news about IBM, BvID b00001ab7, published within the last 3 days in the PST timezone (using HTTP header for api key): \n\n ```js\n POST https://api.bitvore.com/v2/corp/news \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"orgScope\": { \n \t\t\"ids\": [\"b00001ab7\"], \n \t\t\"orgIdScheme\": \"BVID\" \n \t}, \n \t\"startDate\": \"2018-07-01T09:00:00.000+07:00\", \n \t\"endDate\": \"2018-07-03T23:59:59.999+07:00\" \n } \n ```\n \n\n To query for the news about all executive changes between 9:00AM PST 7/1/2018 and 5:00PM PST on 7/31/2018: \n\n ```js\n POST https://api.bitvore.com/v2/corp/news \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"signal\": [\"ExecutiveChanges\"], \n \t\"startDate\": \"2018-07-01T09:00:00.000+07:00\", \n \t\"endDate\": \"2018-07-31T17:00:00.000+07:00\" \n } \n ```\n \n\n To query for the news about a companies with annual revenue between 50M and 100M in the last 30 days: \n\n ```js\n POST https://api.bitvore.com/v2/corp/news \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"orgScope\": { \n \t\t\"revRange\": \"50-100\" \n \t}, \n \t\"startDate\": \"2018-07-01T09:00:00.000Z\", \n \t\"endDate\": \"2018-07-31T17:00:00.000Z\" \n } \n ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n Example Response: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"ACME acquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\",\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\" } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n "
      operationId: handleCorpAdvancedSearchUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateNewsRequest'
              originalRef: CorporateNewsRequest
        description: request
        required: true
  /v2/corp/news/byKey/enriched:
    post:
      tags:
      - News API
      summary: Enriched Record by Record Key
      operationId: handleGetEnrichedRecordUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnrichedRecordsResponse'
                originalRef: EnrichedRecordsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: Record Keys to retrieve enriched news for.
  /v2/corp/news/byKey/{recordKey}/enriched:
    get:
      tags:
      - News API
      summary: Enriched Record by Record Key
      operationId: handleGetEnrichedRecordUsingGET
      parameters:
      - name: recordKey
        in: path
        description: Record Key to retrieve enriched news for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnrichedRecordsResponse'
                originalRef: EnrichedRecordsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news/byid:
    get:
      tags:
      - News API
      summary: Corporate News by Organization Id
      description: "Provides a simple GET oriented corporate news search capability. The search criteria used when querying news includes the following options specified as query parameters which can used together to refine the search results: \n * Organization Id - An ID that uniquely identifies a company/organization. Querying by ID returns only news articles where the identified organization is an actor in the story. The organization's primary ID is always a BvID, however, if using an alternate ID, it will also be returned along with the organization. \n * Org Id Scheme - The type of Id being used. Can be BvID, CUSIP, FIGI, ISIN or SEDOL. Certain IDs require a valid license. \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Similarity - Indicates which (if any) similar articles should be returned, options are \n \"Usage\" and \"None\", default is \"None\". \"Usage\" indicates similar articles can be returned if they \n have different usage restrictions. In other word with this option two similar articles can be returned \n if one is FullUse and the other is FairUse. \n * Org Field - By default each company referenced in an article is identified by its ID and its name. Additional fields will be returned for each company if specified here. The available options are name, domainName, ticker, city, state, and country. If available the additional fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the article. Note: Returning additional fields may cause a small increase in latency. \n \n\n The following are some examples of using the API. \n\n To query for M&A news between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?signal=MergerAcquisition&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"ACME aquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\",\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\" } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n \n\n Each article returned may have one or more groups of referenced articles. The referencedOrgs property holds the list of companies that were directly mentioned in the article and were considered the primary actors. In this example the article was about ACME merging with Wile E. Coyote which were considered the primary actors. \n\n If there is more than one primary actor in an article it is often the case that only a subset of those actors were in the original scope of the input query (bvIds or portfolio). The matchedArticleOrgs will hold that subset of primary actors which were part of the input query. The system will look for articles about subsidiaries of the companies in the original scope of the input query as well. When a subsidiary is the primary actor of a returned article it will be in the referencedOrgs and matchedArticlesOrg field, but the parent company that was specified in the query will be returned in the matchedOrgs property. \n\n In this example the original query was for articles about A Company Manufacturing Everything. The system found this article about its child company ACME. Therefore matchedArticleOrgs lists ACME and matchedOrgs lists A Company Manufacturing Everything which was in the original query. \n\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad bvId found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleNewsSearchUsingGET_1
      parameters:
      - name: ids
        in: query
        description: Organization Id
        required: true
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: idScheme
        in: query
        description: Organization Id Scheme
        required: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - BVID
          - CUSIP
          - ISIN
          - SEDOL
          - FIGI
          default: BVID
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - News
          - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - domainName
          - ticker
          - city
          - state
          - country
          - cusip
          - figi
          - isin
          - sedol
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news/byportfolio:
    get:
      tags:
      - News API
      summary: Corporate News by Portfolio
      description: "Provides a simple GET oriented corporate news search capability. The search criteria used when querying news includes the following options specified as query parameters which can used together to refine the search results: \n * Portfolio - A portfolio is made up of one or more companies (BvIDs). Querying by portfolio returns only articles where at least one of the companies in the portfolio are an actor in the article. This option cannot be used with the BvID or Foreign ID options. \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Similarity - Indicates which (if any) similar articles should be returned, options are \n \"Usage\" and \"None\", default is \"None\". \"Usage\" indicates similar articles can be returned if they \n have different usage restrictions. In other word with this option two similar articles can be returned \n if one is FullUse and the other is FairUse. \n * Org Field - By default each company referenced in an article is identified by its ID and its name. Additional fields will be returned for each company if specified here. The available options are name, domainName, ticker, city, state, and country. If available the additional fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the article. Note: Returning additional fields may cause a small increase in latency. \n \n\n The following are some examples of using the API. \n\n To query for the news about a portfolio between 1:00 and 2:00 PM PST on 7/1/2018 (using HTTP header for api key): \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?portfolioId=12345&startDate=2018-07-01T13:00:00.000+07:00&endDate=2018-07-01T14:00:00.000+07:00\n ```\n \n\n To query for M&A news between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?signal=MergerAcquisition&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"ACME aquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\",\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\" } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n \n\n Each article returned may have one or more groups of referenced articles. The referencedOrgs property holds the list of companies that were directly mentioned in the article and were considered the primary actors. In this example the article was about ACME merging with Wile E. Coyote which were considered the primary actors. \n\n If there is more than one primary actor in an article it is often the case that only a subset of those actors were in the original scope of the input query (bvIds or portfolio). The matchedArticleOrgs will hold that subset of primary actors which were part of the input query. The system will look for articles about subsidiaries of the companies in the original scope of the input query as well. When a subsidiary is the primary actor of a returned article it will be in the referencedOrgs and matchedArticlesOrg field, but the parent company that was specified in the query will be returned in the matchedOrgs property. \n\n In this example the original query was for articles about A Company Manufacturing Everything. The system found this article about its child company ACME. Therefore matchedArticleOrgs lists ACME and matchedOrgs lists A Company Manufacturing Everything which was in the original query. \n\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad bvId found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handlePortfolioNewsSearchUsingGET
      parameters:
      - name: portfolioId
        in: query
        description: Id identifying a portfolio to retrieve news for.
        required: true
        allowEmptyValue: false
        schema:
          type: integer
          format: int64
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - News
          - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news when not using a portfolio
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - domainName
          - ticker
          - city
          - state
          - country
          - cusip
          - figi
          - isin
          - sedol
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/econnews/byfips:
    get:
      tags:
      - News API
      summary: Economic News Search by FIPS
      description: "Provides the ability to search for news relevant to economy of a region: \n * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n \n\n The following is an example of using the API. \n\n To query for the economic news about the Los Angeles region using the FIPS code 037 between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?fips=037&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleFipsEconSearchUsingGET_1
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/econnews/bylocation:
    get:
      tags:
      - News API
      summary: Economic News Search by Location
      description: "Provides the ability to search for news relevant to economy of a location: \n * State - Querying by state returns only news articles that have been written about events that have occurred within the given state. \n * City - Querying by city returns only news articles that have been written about events that have occurred within the given city. This option requires the use of the State option to avoid ambiguity. \n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n \n\n The following is an example of using the API. \n\n To query for the economic news about Irvine, California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?state=ca&city=irvine&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleEconSearchUsingGET_2
      parameters:
      - name: state
        in: query
        description: State (code) to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        x-example: CA
        schema:
          type: string
      - name: city
        in: query
        description: City to retrieve municipal and economic news for.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/news:
    get:
      tags:
      - News API
      summary: Municipal News Search by CUSIP
      description: "Provides the ability to search for news relevant to municipal bonds. The search criteria used when querying news includes the following options: \n * CUSIP - Querying by CUSIP returns only news articles where the identified bond is somehow affected by the subject matter of an article.\n * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are: \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Include CUSIPs - Return all CUSIPs affected by the subject matter of an article. This option requires a verified CGS license. \n \n\n The metadata tags of articles specific to municipal news returned in addition to the common tags above are: \n * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article. \n * Sectors - 0 or more sectors the article is reporting news about. \n * Significance - The significance of the article, high or medium. \n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\": [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleCusipMuniSearchUsingGET
      parameters:
      - name: cusip
        in: query
        description: One or more CUSIPs identifying the bonds to retrieve news for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - News API
      summary: Advanced Municipal News Search
      description: "Provides an advanced municipal news search capability. The search criteria used when querying news includes a more advanced approach to identifying locations, sections, and a larger number of cusips. The following are the options supported for searching the news: \n * CUSIP - Querying by CUSIP returns only news articles where the identified bond is somehow affected by the subject matter of an article. Up to 10000 CUSIPs can be queried. \n * Portfolio - A portfolio is made up of one or more CUSIPs. Querying by portfolio returns only news articles where any of the bonds in the portfolio are affected by the subject matter of an article. This option cannot be used with the CUSIP option. \n * Location - Querying by city/state returns only news articles that have been written about events that have occurred within a city and/or state. Locations are in the format of city/state/country, i.e., Los Angeles/California/United States. United States is assumed if the country is not specified. \n * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are: \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n This option cannot be combined with the CUSIP or Portfolio options. \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected by the subject matter of an article. This option requires a verified CGS license. \n \n\n The following are some examples of using the API. \n\n To query for the news about 2 CUSIPs published within the last 3 days in the PST timezone (using HTTP header for api key) : \n\n ```js\n POST https://api.bitvore.com/v2/muni/news \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"cusip\": [ \"123456789\", \"987654321\" ] \n \t\"startDate\": \"2018-07-01T09:00:00.000Z\", \n \t\"endDate\": \"2018-07-31T17:00:00.000Z\" \n } \n ```\n \n\n To query for the news about about education and development in Los Angeles and San Francisco between 9:00AM PST 7/1/2018 and 5:00PM PST on 7/31/2018 : \n\n ```js\n POST https://api.bitvore.com/v2/muni/news \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"sector\": [ \"education\", \"development\" ], \n \t\"location\": [ \"Los Angeles/California\", \"San Francisco/California\" ], \n \t\"startDate\": \"2018-07-01T09:00:00.000Z\", \n \t\"endDate\": \"2018-07-31T17:00:00.000Z\" \n } \n ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleMuniAdvancedSearchUsingPOST_1
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MunicipalNewsRequest'
              originalRef: MunicipalNewsRequest
        description: request
        required: true
  /v2/muni/news/byfips:
    get:
      tags:
      - News API
      summary: Municipal News Search by FIPS
      description: "Provides the ability to search for news relevant to municipal bonds using a FIPS location identifier. The search criteria used when querying news includes the following options: \n * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are: \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected by the subject matter of an article. This option requires a verified CGS license. \n \n\n The metadata tags of articles specific to municipal news returned in addition to the common tags above are: \n * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article. \n * Sectors - 0 or more sectors the article is reporting news about. \n * Significance - The significance of the article, high or medium. \n \n\n The following is an example of using the API. \n\n To query for the news about the education sector in California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/muni/news/byfips?fips=06059&sector=education&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\": [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleFipsMuniSearchUsingGET
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve news for
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sector
        in: query
        description: Sector to retrieve news for
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/news/bylocation:
    get:
      tags:
      - News API
      summary: Municipal News Search by Location
      description: "Provides the ability to search for news relevant to municipal bonds using a location. The search criteria used when querying news includes the following options: \n * State - Querying by state returns only news articles that have been written about events that have occurred within the given state. \n * City - Querying by city returns only news articles that have been written about events that have occurred within the given city. This option requires the use of the State option to avoid ambiguity. \n * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are: \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected by the subject matter of an article. This option requires a verified CGS license. \n \n\n The following are some examples of using the API. \n\n To query for the news about the education sector in California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/muni/news/bylocation?state=ca&sector=education&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n ```\n \n\n The metadata tags of articles specific to municipal news returned in addition to the common tags above are: \n * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article. \n * Sectors - 0 or more sectors the article is reporting news about. \n * Significance - The significance of the article, high or medium. \n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\": [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleLocationMuniSearchUsingGET
      parameters:
      - name: state
        in: query
        description: State to retrieve news for.
        required: true
        allowEmptyValue: false
        x-example: CA
        schema:
          type: string
      - name: city
        in: query
        description: City to retrieve news for.
        required: false
        allowEmptyValue: false
        x-example: Los Angeles
        schema:
          type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sector
        in: query
        description: Sector to retrieve news for
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
[...]
