openapi: 3.2.0
info:
  description: "### Cellenus Corporate APIs\nThe Cellenus Corporate APIs consists of three main datasets, \"Corporate, Market & Industry\", \"ESG\", and \"Thematic Trending\" which provide news, events, press releases relevant to corporate entities, typically identifying signals that affect them. Bitvore currently surveils most public companies traded on US and international exchanges, US companies and international companies. Additionally, new companies required by a customer can be requested to be added to our surveillance.\n\nThe Corporate APIs also includes access to economic news for geographic locations in the United States.\n\nA typical record in the dataset is depicted below.\n\n![News Article](https://bitvorestaticassets.blob.core.windows.net/api-docs/corp-news-article.png)\n\nAccess to the Corporate Datasets using the Corporate APIs requires its own license and API key.  To register for an API Key please visit [here](http://developer.bitvore.com/v2/getting-started?section=obtain-api-key). \n\nThe Cellenus Corporate APIs, include [Corporate News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API), [Ecomomic News](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API), [Organizations](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Organizations%20API), [Portfolio Integration](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Portfolios%20API), [Sentiment Scores](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Sentiment%20Scores%20API), [Financial Filings](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Filings%20API) and [Datasets](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Datasets%20API).\n\nThe [Corporate News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API) provides direct access to the curated news based on company ID (Bitvore ID), portfolio, customer ID, industry, location, and certain company characteristics such as number of employees and annual revenue.\n\nThe [Economic News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API) provides direct access to the curated news relevant to the economy of a location or region.\n\nThe [Organizations API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Organizations%20API) provides the ability to search for companies by a variety of company characteristics such as name, web domain, ticker, industry, location, number of employees, and annual revenue. Each company is uniquely identified by a Bitvore ID which can be used as input to query the [News API](http://developer.bitvore.com/v2/docs/overview).\n\nThe [Portfolios API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Portfolios%20API) provides the ability to either create and maintain portfolios of companies so that news can be queried in a single call from the [News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API) for a given portfolio or to map your own company ID scheme to Bitvore's so you can query the [News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API) with your own IDs.\n\nThe [Filings API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Filings%20API) provides direct access to the financial filings submitted to regulatory agencies such as the SEC on behalf of companies found in the [Organizations API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Organizations%20API).\n\nThe [Datasets API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Datasets%20API) provides dataset and changeset exporting. This API provides offline data consumption that can be used with external tools.\n\n"
  version: '2.1'
  title: Corporate Organizations API API
  license:
    name: Copyright Bitvore Corp. 2026
servers:
- url: https://api.bitvore.com/
tags:
- name: Organizations API
  description: Organization Details and Search
paths:
  /v2/corp/organizations/byid/{id}:
    get:
      tags:
      - Organizations API
      summary: Organization by Alt-Id
      description: "Returns detailed information about the organization with the given Bitvore ID or Alternate ID. The following are the supported ID Scheme parameters: \n\n * BVID - Bitvore ID (default) \n * CUSIP - Requires license: 'CUSIP' \n * FIGI \n * ISIN - Requires license: 'ISIN' \n * SEDOL - Requires license: 'SEDOL' \n \n\n Example Request: \n\n \n\n ```js\n GET https://api.bitvore.com/v2/corp/organizations/byid/BBG001S5TD05?orgIdScheme=FIGI\n ```\n \n\n "
      operationId: handleGetOrgUsingGET_1
      parameters:
      - name: id
        in: path
        description: Organization Id
        required: true
        schema:
          type: string
      - name: idScheme
        in: query
        description: Organization Id Scheme
        required: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - BVID
          - CUSIP
          - ISIN
          - SEDOL
          - FIGI
          default: BVID
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationDetails'
                originalRef: OrganizationDetails
        '400':
          description: Invalid parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/lookup:
    get:
      tags:
      - Organizations API
      summary: Organization Search
      description: "A lookup takes a single string as input to matching entities. The following are the matching rules used. The search results are ordered according to the rules. \n\n 1. Exact match on name (case insensitive)\n 2. Exact match on ticker\n 3. Exact match on domain name\n 4. Exact match on alias (case insensitive)\n 5. Starts with on name (case insensitive)\n 6. Starts with on ticker\n 7. Starts with on domain name\n 8. Starts with on alias (case insensitive)\n \n\n Example Request: \n\n \n\n ```js\n GET https://api.bitvore.com/v2/corp/organizations/search?q=acme\n ```\n \n\n \n\n 0 or more companies may be returned that match the supplied query criteria. Only summary information for each matching organization is supplied which includes the following fields: \n\n * ID \n * Name \n * Domain Name \n * Ticker \n * State \n * Country \n * Parent \n "
      operationId: handleOrgLookupUsingGET_1
      parameters:
      - name: q
        in: query
        description: Lookup option. Value is used to match multiple fields.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrgResultsResponse'
                originalRef: OrgResultsResponse
        '400':
          description: Invalid parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/match:
    post:
      tags:
      - Organizations API
      summary: Organization Matching
      description: "Attempts to find companies matching input specifications made up of a list of property values. Multiple companies can be matched in a single call. For each organization to match a list of properties and values known by the client (the input specification) are passed in. If possible the system will return a single matching organization for each input specification. If more than one organization matches an input specification and there is not one organization that is more qualified than the others all the candidates will be returned. The following are the organization properties that can be used in input specifications. More than one value can be supplied for each indicating a match of any of the values will be acceptable. \n * Name \n * DomainName \n * Ticker \n * CUSIP - Requires license: 'CUSIP' \n * FIGI \n * ISIN - Requires license: 'ISIN' \n * SEDOL - Requires license: 'SEDOL' \n * NAICSCode \n * SICCode \n * City \n * StateCode \n * Country \n \n\n Tickers formats: \n * Nonqualified - Basic ticker symbol (e.g. T, XOM) \n * Region Qualified - &lt;region&gt;:&lt;ticker&gt; (e.g. US:T, US:XOM) \n * Exchange Qualified - &lt;exchange&gt;:&lt;ticker&gt; (e.g. NYS:T, NAS:XOM) \n \n\n In the following example we'll try to match two companies. In this case they will actually be companies with the same name but by using different properties in the specifications we can see how the system matches differently. The first specification will include the organization name and the state it's in. The second specification will include the organization name and its domain name. \n\n \n\n ```js\n POST https://api.bitvore.com/v2/corp/organizations/match \n Content-Type: application/json \n Accept: application/json \n X-BV-APIKEY: xyz123... \n\n [ \n \t{ \n \t\t\"Name\": [\"Bank of Commerce\"], \n \t\t\"State\": [\"Oklahoma\"] \n \t}, \n \t{ \n \t\t\"Name\": [\"Bank of Commerce\"], \n \t\t\"DomainName\": [\"bocokonline.com\"] \n \t} \n ] \n ```\n \n\n \n\n The first set of candidates is returned for the name/state combination. There are three companies with the input name and state code. Since that is the only input the system could not narrow the candidates down any further. \n\n The second set of candidates is returned for the same name but with a domain name instead of a state code. This input specification matched only one organization in the system which is returned. \n\n The properties that were matched for each candidate are returned in the \"hits\" field. These will match the input specification properties. However, when matching names the system will attempt to match the input name against the organization's names in the Knowledge Graph as well as any known aliases for companies. If the input name matched an alias instead of a organization name the \"Alias\" property will be returned in \"hits\"."
      operationId: handleOrgMatchingUsingPOST_1
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SingleOrganizationMatchingResult'
                originalRef: SingleOrganizationMatchingResult
        '400':
          description: Invalid parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OrgSpec'
                originalRef: OrgSpec
        description: specs
        required: true
  /v2/corp/organizations/search:
    post:
      tags:
      - Organizations API
      summary: Organization Search
      description: "A search query takes one or more search parameters. A parameter has a name and one or more values. The search will match the organization properties and relationships with the parameters and return only those that have an EXACT match on all input parameters. The following are the supported search parameters: \n\n * name - One or more names to search for \n * ticker - One or more tickers to search for \n * domainName - One or more domain names to search for. \n * location - One or more locations companies must have their headquarters in. Locations are in the format of city/state code/country. If city or state is unspecified the appropriate / delimiters must still be included, i.e., /California/United States.  Must not be used with fips or zip. \n * fips - One or more FIPS codes identifying counties or CBSAs (metropolitan/micropolitan statistical areas) companies must have their headquarters in. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). Must not be used with location or zip. \n * zip - One or more zip codes identifying ZIP Code Tabulation Areas (ZCTAs) companies must have their headquarters in.  Must not be used with location or fips. \n * naics - One or more [NAICS](https://www.naics.com/search/) codes identifying industries the companies must operate in. \n * sic - One or more [SIC](https://www.osha.gov/pls/imis/sicsearch.html) codes identifying industries the companies must operate in. \n * revRange - Revenue range (in millions) companies must fall in. The range is formated as lower-upper where lower and upper must be one of 0, 1, 10, 50, 100, 500, 1000, 10000. The upper bound can be omitted to report over 10B. \n * empRange - Employee range companies must fall in. The range is formated as lower-upper where lower and upper must be one of 1, 10, 50, 100, 250, 500, 1000, 5000, 10000. The upper bound can be omitted to report over 10000. \n \n\n Example Request: \n\n \n\n ```js\n POST https://api.bitvore.com/v2/corp/organizations?domainName=acme.com\n ```\n \n\n \n\n 0 or more companies may be returned that match the supplied query criteria. Only summary information for each matching organization is supplied which includes the following fields: \n\n * ID \n * Name \n * Domain Name \n * Ticker \n * State \n * Country \n * Parent \n \n\n "
      operationId: handleOrgSearchUsingPOST
      parameters:
      - name: name
        in: query
        description: One or more names to search for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: ticker
        in: query
        description: One or more tickers to search for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: domainName
        in: query
        description: One or more domain names to search for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: location
        in: query
        description: One or more locations organization must have their headquarters in.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: fips
        in: query
        description: One or more FIPS codes identifying locations the companies must have their headquarters in.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zip
        in: query
        description: One or more zip codes identifying locations the companies must have their headquarters in.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: naicsCode
        in: query
        description: One or more NAICS codes identifying industries the companies must operate in.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sicCode
        in: query
        description: One or more SIC codes identifying industries the companies must operate in.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: revRange
        in: query
        description: Revenue range (in millions) companies must fall in. The range is formated as lower-upper where lower and upper must be one of 0, 1, 10, 50, 100, 200, 1000. The upper bound can be ommited to report over 1B.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: empRange
        in: query
        description: Employee range companies must fall in. The range is formated as lower-upper where lower and upper must be one of 1, 10, 50, 200, 500, 1000, 5000, 10000. The upper bound can be ommited to report over 1B.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrgResultsResponse'
                originalRef: OrgResultsResponse
        '400':
          description: Invalid parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/{bvId}:
    get:
      tags:
      - Organizations API
      summary: Organization Details
      description: "Returns detailed information about the organization with the given Bitvore ID. The following are the supported ID Scheme parameters: \n\n * BVID - Bitvore ID\n \n\n Example Request: \n\n \n\n ```js\n GET https://api.bitvore.com/v2/corp/organizations/b00001axt\n ```\n \n\n "
      operationId: handleGetOrgUsingGET_2
      parameters:
      - name: bvId
        in: path
        description: Organization BvId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationDetails'
                originalRef: OrganizationDetails
        '400':
          description: Invalid parameter
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
components:
  schemas:
    InternalErrorResponse:
      type: object
      properties:
        reason:
          type: string
          example: internal_error
        reasonSupport:
          type: string
          example: An internal error occured.
        response:
          type: string
          example: INTERNAL_SERVER_ERROR
        success:
          type: boolean
          example: false
      title: InternalErrorResponse
    OrganizationDetails:
      type: object
      properties:
        bvId:
          type: string
          example: b00001ab7
          description: Bitvore Id of the organization
        channels:
          type: array
          description: Official social and communication channels of the organization
          items:
            $ref: '#/components/schemas/Channel'
            originalRef: Channel
        city:
          type: string
          example: Irvine
          description: City the organization is headquartered in.
        country:
          type: string
          example: United States
          description: Country the organization is headquartered in.
        domainName:
          type: string
          example: acme.com
          description: Domain name of the organization.
        factSetId:
          type: string
        isin:
          type: string
          example: US5949181045
          description: 'ISIN of the organization. (Requires License: ''ISIN'')'
        listings:
          type: array
          description: The exchange listings of the organization.
          items:
            $ref: '#/components/schemas/Listing'
            originalRef: Listing
        naicsIndustry:
          description: NAICS Industry the organization operates in
          $ref: '#/components/schemas/IndustrySummary'
          originalRef: IndustrySummary
        name:
          type: string
          example: ACME Corp
          description: Name of the organization.
        sicIndustry:
          description: SIC Industry the organization operates in
          $ref: '#/components/schemas/IndustrySummary'
          originalRef: IndustrySummary
        state:
          type: string
          example: CA
          description: State (code) the organization is headquartered in.
        ticker:
          type: string
          description: The primary ticker symbol the organization.
      title: OrganizationDetails
    OrgSpec:
      type: object
      properties:
        city:
          type: array
          example:
          - Mountain View
          description: Cities of the organizations. Used to narrow down results when using other identifiers.
          items:
            type: string
        country:
          type: array
          example:
          - United States
          description: Countries of the organizations. Used to narrow down results when using other identifiers.
          items:
            type: string
        cusip:
          type: array
          example:
          - ABCD12345
          description: CUSIP Ids of the organizations
          items:
            type: string
        domainName:
          type: array
          example:
          - abc.xyz
          description: Domain names of the organizations
          items:
            type: string
        figi:
          type: array
          example:
          - BBG009S39JY5
          - b00001afc
          description: FIGI Ids of the organizations
          items:
            type: string
        isin:
          type: array
          example:
          - US02079K3059
          description: ISIN IDs of the organizations
          items:
            type: string
        naicsCode:
          type: array
          example:
          - '518210'
          description: NAICS codes of the organizations
          items:
            type: string
        name:
          type: array
          example:
          - Alphabet
          description: Names of the organizations
          items:
            type: string
        sedol:
          type: array
          example:
          - USABCD12345
          description: SEDOL Ids of the organizations
          items:
            type: string
        sicCode:
          type: array
          example:
          - '7374'
          description: SIC codes of the organizations
          items:
            type: string
        state:
          type: array
          example:
          - CA
          description: States of the organizations. Used to narrow down results when using other identifiers.
          items:
            type: string
        ticker:
          type: array
          example:
          - GOOGL
          - APPL
          - F
          description: Tickers of the organizations
          items:
            type: string
      title: OrgSpec
    PotentialOrganizationMatch:
      type: object
      properties:
        hits:
          type: array
          example:
          - Name
          - DomainName
          description: List of the properties in the input specification that this organization has matches for
          items:
            type: string
        org:
          description: Summary information for this potential match
          $ref: '#/components/schemas/Organization'
          originalRef: Organization
      title: PotentialOrganizationMatch
      description: A potential matched organization.
    Organization:
      type: object
      properties:
        bvId:
          type: string
          example: b00001ab7
          description: Bitvore Id of the organization
        city:
          type: string
          example: Irvine
          description: City the organization is headquartered in.
        country:
          type: string
          example: United States
          description: Country the organization is headquartered in.
        domainName:
          type: string
          example: acme.com
          description: Domain name of the organization.
        factSetId:
          type: string
        isin:
          type: string
          example: US5949181045
          description: 'ISIN of the organization. (Requires License: ''ISIN'')'
        listings:
          type: array
          description: The exchange listings of the organization.
          items:
            $ref: '#/components/schemas/Listing'
            originalRef: Listing
        name:
          type: string
          example: ACME Corp
          description: Name of the organization.
        state:
          type: string
          example: CA
          description: State (code) the organization is headquartered in.
        ticker:
          type: string
          description: The primary ticker symbol the organization.
      title: Organization
    ReasonResponse:
      type: object
      properties:
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: object
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: object
          description: Response payload
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: ReasonResponse
      description: A response used to explain a failure or issue with the request.
    Channel:
      type: object
      properties:
        channel:
          type: string
          enum:
          - FACEBOOK
          - LINKEDIN
          - TWITTER
        location:
          type: string
          example: https://www.facebook.com/ACME
          description: Direct source to the organizations channel
      title: Channel
    IndustrySummary:
      type: object
      properties:
        code:
          type: string
          example: 55101050
          description: Unique ID of the industry
        name:
          type: string
          example: Corporate Financial Services
          description: Name of the industry
      title: IndustrySummary
      description: Summary information about an industry.
    OrgResultsResponse:
      type: object
      properties:
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/Organization'
            originalRef: Organization
        returned:
          type: integer
          format: int32
          example: 10
          description: Number of items return
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
        total:
          type: integer
          format: int32
          example: 100
          description: Total number of items available
      title: OrgResultsResponse
      description: Organization search response
    Listing:
      type: object
      properties:
        exchange:
          type: string
          example: NAS
          description: The exchange the ticker belongs to.
        mic:
          type: string
          example: XNAS
          description: The MIC code of the exchange
        region:
          type: string
          example: US
          description: The geographic region of the exchange
        ticker:
          type: string
          example: ACME
          description: Primary ticker symbol the organization.
      title: Listing
    AccessDeniedResponse:
      type: object
      properties:
        reason:
          type: string
          example: access_denied
        reasonSupport:
          type: string
          example: You are not authorized for this resource.
        response:
          type: string
          example: UNAUTHORIZED
        success:
          type: boolean
          example: false
      title: AccessDeniedResponse
    SingleOrganizationMatchingResult:
      type: object
      properties:
        candidates:
          type: array
          description: List of candidate matches
          items:
            $ref: '#/components/schemas/PotentialOrganizationMatch'
            originalRef: PotentialOrganizationMatch
        spec:
          description: Input organization specification used to find candidates
          $ref: '#/components/schemas/OrgSpec'
          originalRef: OrgSpec
      title: SingleOrganizationMatchingResult
      description: Results of trying to match an organization using the input specification.
  securitySchemes:
    API_key:
      type: apiKey
      name: X-BV-APIKEY
      in: header
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            Global: Includes all Bitvore APIs
          tokenUrl: https://api.bitvore.com/oauth/accesstoken
x-info:
  description: Cellenus Corporate APIs, v2
  url: https://developer.bitvore.com
x-tagDescriptions:
  Datasets API: "## Datasets API \n\n The Datasets API provides two types of data that can be exported. These are Dataset and Changeset files. An API key is required to download the files.\n\n ## Dataset Files \n\n Datasets can be exported and downloaded in CSV file format. The dataset files holding data for the current year are updated once daily. \n\n Available Datasets:\n* Corporate Sentiment Scores \n * Corporate Signals \n * ESG Signals \n * Entities (Organizations) \n \n\n ### Corporate Sentiment Scores \n\n The Corporate Sentiment Scores file will contain the daily sentiment scores for an Organization. \n All scores are calculated based on input for 90 day moving windows. \n\n The scores calculated are the following:\n* sentiment - Overall corporate sentiment.\n* growth - Corporate sentiment strictly with regard to growth.\n* risk - Corporate sentiment strictly with regard to risk.\n\n\n There are two types of exports that are available; Yearly and Daily:\n\n * corp-sentiment-scores-2021.csv.gz - Yearly sentiment scores\n* corp-sentiment-scores-2021-05-04.csv.gz - Daily sentiment scores\n\n\n Example Request:\n\n ```js\nGET https://api.bitvore.com/v2/corp/datasets/corp-sentiment-scores/2021?key=xyz123\n ```\n \n\n Each file will have the following columns:\n* CompanyId - Bitvore ID that uniquely identifies the company that is the subject of the score(s).\n* CompanyName - Name of the company that is the subject of the score(s).\n* ScoreType - The type of sentiment score, \"growth\", \"risk\", \"sentiment\".\n* Score - The score value raging from -1.0 to 1.0.\n* Date - Date of the score.\n\n\n ### Corporate Signals \n\n The Corporate Signal Dataset consists of curated news, events, press releases, and filings that represent signals relevant to corporate entities. There are two types of exports that are available; Yearly and Daily: \n\n * corp-signals-2021.csv.gz - Yearly corporate signals\n* corp-signals-daily-2021-05-04.csv.gz - Daily corporate signals\n\n\n Example Request:\n\n ```js\nGET https://api.bitvore.com/v2/corp/datasets/corp-signals/2021?key=xyz123\n ```\n \n\n Each file will have the following columns:\n* Key - 56 character unique identifier of the data record, a record may be on multiple rows if more than one company is associated with it.\n* ArticleType - Type of the record, News or Press Release.\n* AvailableAt - Date/time the record was made available by the system formatted as yyyy-MM-dd hh:mm.\n* PublishedAt - Date/time the record was initially published at as yyyy-MM-dd hh:mm.\n* CompanyId - Bitvore ID that uniquely identifies the company directly referenced by the record.\n* CompanyName - Name of the company directly referenced by the record.\n* Signal - Signal identified by the record. See the list of signals [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n* Sentiment - Sentiment of the record within a range of -1.0 (negative) and 1.0 (positive).\n* SourceUrl - URL for the source of the record.\n* SourceName - Name (typically hostname) of the source of the record.\n* PreviewImageUrl - URL to an image that was used originally as a visual preview.\n* Title - Title, or brief summary, of the record.\n* Excerpt - An excerpt of the original full body content of the record.\n* SimilarityId - A record may be similar to another record, essentially reporting the same event. When records are similar they are grouped together in a similarity cluster. The SimilarityId identifies the cluster the records are grouped in.\n* SourceLocation - The location of the source of the article.\n* ArticleLocation - The location that the article is about or located.\n* LastModified - The date a record was last changed as yyy-MM-dd hh:mm. It's not often but on occasion a record can be changed to reflect either new information extracted from it or improvements to models to get more accurate information, such as a sentiment value.\n\n\n ### ESG Signals \n\n The ESG Signal Dataset consists of curated news, events, press releases, and filings that represent signals relevant to corporate entities. There are two types of exports that are available; Yearly and Daily: \n\n * esg-signals-2021.csv.gz - Yearly ESG signals\n* esg-signals-daily-2021-05-04.csv.gz - Daily ESG signals\n\n\n Example Request:\n\n ```js\nGET https://api.bitvore.com/v2/corp/datasets/esg-signals/2021?key=xyz123\n ```\n \n\n Each file will have the following columns:\n* Key - 56 character unique identifier of the data record, a record may be on multiple rows if more than one company is associated with it.\n* ArticleType - Type of the record, News or Press Release.\n* AvailableAt - Date/time the record was made available by the system formatted as yyyy-MM-dd hh:mm.\n* PublishedAt - Date/time the record was initially published at as yyyy-MM-dd hh:mm.\n* CompanyId - Bitvore ID that uniquely identifies the company directly referenced by the record.\n* CompanyName - Name of the company directly referenced by the record.\n* Signal - Signal identified by the record. See the list of signals [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n* Sentiment - Sentiment of the record within a range of -1.0 (negative) and 1.0 (positive).\n* SourceUrl - URL for the source of the record.\n* SourceName - Name (typically hostname) of the source of the record.\n* PreviewImageUrl - URL to an image that was used originally as a visual preview.\n* Title - Title, or brief summary, of the record.\n* Excerpt - An excerpt of the original full body content of the record.\n* SimilarityId - A record may be similar to another record, essentially reporting the same event. When records are similar they are grouped together in a similarity cluster. The SimilarityId identifies the cluster the records are grouped in.\n* SourceLocation - The location of the source of the article.\n* ArticleLocation - The location that the article is about or located.\n* LastModified - The date a record was last changed as yyy-MM-dd hh:mm. It's not often but on occasion a record can be changed to reflect either new information extracted from it or improvements to models to get more accurate information, such as a sentiment value.\n\n\n ### Entities (Organizations) \n\n The Corporate Entity Dataset consists of information about the companies that are covered in the Corporate datasets above. A daily, up-to-date dataset is available: \n\n * entities-daily-2021-05-04.csv.gz - Daily up-to-date entities dataset\n\n\n Example Request:\n\n ```js\nGET https://api.bitvore.com/v2/corp/datasets/entities/2021/05/04?key=xyz123\n ```\n \n\n Each file will have the following columns:\n* Id - Bitvore ID that uniquely identifies the company.\n* Name - Name of the company.\n* Ticker - Ticker the company is traded under (if public).\n* MIC - MIC code of the exchange the ticker is traded on.\n* DomainName - Website domain name of the company.\n* City - City the company's headquarters is located in.\n* State - State code of the state the company's headquarters is located in.\n* Country - Country the company's headquarters is located in.\n* Employees - Number of employees for the company within a range. The ranges are 1-10, 10-50, 50-100, 100-250, 250-500, 500-1000, 1000-5000, 5000-10000, > 10000\n* NAICSIndustry - NAICS industry code for the industry the company primarily operates in.\n* SICIndustry - SIC industry code for the industry the company primarily operates in.\n* YearFounded - Year the company was founded.\n* FacebookUrl - URL of the company's Facebook page.\n* LinkedInUrl - URL of the company's LinkedIn page.\n* TwitterUrl - URL of the company's Twitter page.\n* ParentId - Bitvore ID that uniquely identifies the company's immediate parent (if any).\n* UltimateParentId - Bitvore ID that uniquely identifies the company's ultimate (root) parent (if any).\n* LastModified - The date a record was last changed as yyy-MM-dd hh:mm.\n\n ### Changesets \n\n Get a list of changes by date range, with optional changesets. \n Requests are limited to 31 days and up to 1000 results per page.\n \n\n Example Request:\n\n ```js\nGET https://api.bitvore.com/v2/corp/changesets?changesets=entities-added&endDate=2021-05-12T23%3A59%3A59.999Z&pageNo=1&pageSize=1000&startDate=2021-05-10T00%3A00%3A00.000Z&key=xyz123\n GET https://api.bitvore.com/v2/corp/changesets?changesets=fields-modified,records-modified&endDate=2021-05-12T23%3A59%3A59.999Z&pageNo=1&pageSize=1000&startDate=2021-05-10T00%3A00%3A00.000Z&key=xyz123\n ```\n \n\n ### Changeset CSV File \n\n Files are produce on a daily basis and rolled into yearly file. Daily files are available for the last 7 days. \n\n Example Request:\n\n ```js\nGET https://api.bitvore.com/v2/corp/changeset/records-added/2020?key=xyz123\n GET https://api.bitvore.com/v2/corp/changeset/fields-removed/2020/05/04?key=xyz123\n ```\n \n\n "
  Filings API: "## Filings API \n\n The financial filings submitted by companies or organizations in the Bitvore Knowledge Graph can be obtained through the Financial Filing API. \n\nFilings can be searched for based on filing type (8-K, 10-Q, etc.), company Bitvore ID, and time frame. The API provides the option of returning summary information about each filing such as the filing company information and filing type or returning the entire filing submission. Filing submissions consist of multiple files and will be returned in compressed file downloads. \n\nFilings queries are time based. The filings can be queried either within a specified time window or by a number of days back in history from the current day. The dates used when specifying a time window can be based on the submission date of a filing or the date which the filing was made available by the system. When using a polling strategy to query the latest filings using the API, the available date is recommended as submission dates can be less predictable. Due to the large number (and size) of filings that may be returned because of a broad criteria or a large window a limit on the number of filings to return by the system can be specified. \n\nResponses to summary queries are capped at 1000 filings while responses to submission queries are capped at 200. It is possible however that there are more than the capped amount of filings that match a given query. To accommodate queries that match more than the maximum size the concept of paging is supported. A page is a set of filings returned by a single query. It may be less than the total result set. The client can indicate which page they want returned on each call. This allows the client to loop through the result set one page at a time until the entire result set is returned. \n\nBoth the page to return and the size of the page are specified by the client with the pageNo and pageSize parameters respectively. The API will list these parameter options as either query parameters or properties of the input message body. A query parameter example is as follows: \n\n```js\n GET ...&pageNo=1&pageSize=100 HTTP 1.1\n ```\n \n\nThis instructs the API to return the first page with a maximum of 100 filings in it. Each response will identify the number of filings returned for the current page and the total number of filings in the result set so the client can loop if needed. For example: \n\n```js\n {\n \t\"success\": true,\n \t\"returned\": 100,\n \t\"total\": 1000, \n \t... \n ``` \n\nThe above response indicates the requested page of 100 filings are in the response but there were a total of 1000 filings that matched the query. To then ask for the second page of the result set the pageNo parameter would be incremented as follows: \n\n```js\n GET ...&pageNo=2&pageSize=100 HTTP 1.1\n ```\n \n\nIn this example the next response will return the 101st to 200th filings in the result set. \n\nThe Financial Filings API is part of the corporate data set and requires a corporate data set API key for access. To register for an API Key please contact the [Products Team](mailto:products@bitvore.com). The API key can be used directly or to obtain an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security) page.\n\n"
  News API: "## News API \n\n The News APIs provide access to curated news annotated with metadata tags. There are two APIs that access their own datasets; Corporate and Economic. Each API has a specific way of querying the data sets and specific data they return, which is described in the [Corporate and Economic News API](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=News%20API).  \n\n A news article is tagged with metadata that describes the content of the article. Each dataset has its own set of unique tags but there is a common set depicted below \n\n ![News Article](https://bitvorestaticassets.blob.core.windows.net/api-docs/news-article.png) \n\n News queries are time based. The news can be queried within a specified time window. The dates used can be based on the published date of an article or the date which the article was made available by the system. When using a polling strategy to query the latest news using the API, use the available date instead of published date. \n\n Results are limited to 1000 articles. To accommodate queries that match more than the maximum size, paging is supported. \n\n Both the page to return and the size of the page are specified by the client with the pageNo and pageSize parameters respectively. Each API will list these parameter options as either query parameters or properties of the input message body. A query parameter example is as follows: \n\n ```js\n GET ...&pageNo=1&pageSize=100 HTTP 1.1\n ```\n \n\n This instructs the API to return the first page with a maximum of 100 articles in it. Each news response will identify the number of articles returned for the current page and the total number of articles in the result set so the client can loop if needed. For example: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 100,\n \t\"total\": 1000, \n \t... \n ``` \n The above response indicates the requested page of 100 articles are in the response but there were a total of 1000 articles that matched the query. To then ask for the second page of the result set the pageNo parameter would be incremented as follows: \n\n ```js\n GET ...&pageNo=2&pageSize=100 HTTP 1.1\n ```\n \n\n In this example the next response will return the 101st to 200th article in the result set. \n\n The corporate and municipal datasets require their own API key. The economic data set is shared between the corporate and municipal data sets and does not require its own key. To register for an API Key please contact the [Products Team](mailto:products@bitvore.com). The API key can be used directly or to obtain an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security) page. \n\n"
  Organizations API: "## Organizations API \n\n Organizations is a general term that represent corporate entities, companies or organizations. These organizations are identified in articles the Corporate News API. The Organizations API provides access to the information about those entities. \n\n ![Organization Information](https://bitvorestaticassets.blob.core.windows.net/api-docs/entity.png) \n\n Organizations can be searched for based on some criteria or directly using a Bitvore ID which uniquely identifies an organization in the Bitvore system. When using the Bitvore ID the entire organization profile will be returned for that single organization. If one is unsure what the Bitvore ID of a organization is a search can be performed using different profile properties such as name, ticker, industry, etc. The API will return all companies that match the search criteria. Only summary information is returned but it should be enough information to identify the exact organization being searched for. Once the Bitvore ID is found news can be retrieved for the organization using the Corporate News API. \n\n ![Organization Lookup](https://bitvorestaticassets.blob.core.windows.net/api-docs/entity-lookup.png) \n\n The Bitvore ID for an organization does not change, however, organizations can be merged into other organizations either due to an actual 'merger' event or in the case there are actual duplicate organization. When this happens, the organization will be marked as inactive and the active organization's ID will need to be used. \n\n The Organizations API is part of the corporate dataset and requires a corporate dataset API key for access. To register for an API Key please contact the [Products Team](mailto:products@bitvore.com). The API key can be used directly or to obtain an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security) page.\n\n"
  Portfolios API: "## Portfolios API \n\n Bitvore RESTful APIs useful for integrating with a portfolio so that querying news articles can be focused on business relevant entities and performed in a simplified manner. \n\n A Corporate News API key can be used to access any of the Portfolio APIs. To register for an API Key please contact [customer support](mailto:support@bitvore.com). The API key can be used directly or to obtain an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security) page. \n\n ### Portfolio Management API \n\n The Portfolio Management API provides the ability to create, or replicate a portfolio in the Bitvore system. The entities to be tracked in the portfolio are identified by Bitvore IDs (for organizations). The benefit of creating a portfolio in Bitvore is the news APIs both take a portfolio ID as a parameter making it easy to retrieve news for a portfolio. \n\n If creating a portfolio of organizations in Bitvore the Bitvore ID of each company will be needed. This ID can be obtained from a organization's profile using the Entity API. \n\n ![Create Portfolios using Entity API](https://bitvorestaticassets.blob.core.windows.net/api-docs/entity-to-portfolio.png) \n\n The returned Bitvore ID can then be added to the portfolio. When querying for news about the portfolio the news for that organization will be returned. \n\n A set of sample CSV files listing organizations found [here](http://developer.bitvore.com/v2/docs/api-reference/portfolios) can be used to quickly create portfolios of your own. Simply download the CSV file you want to create your portfolio with, create a new organization (BVID) portfolio, and then use the [Upload Portfolio Items](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=Portfolios%20API) API call to fill the new portfolio from the CSV file. Note the portfolio ID generated and then use that ID when querying for portfolio news using the [Corporate News API](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=News%20API). \n\n ## Custom Ids (Id Mapping) \n\n Portfolio items support the mapping of custom ids. These custom Ids are not required, but when used along with the other APIs, it helps facilitate the mapping, discovery and identification of these ids to existing Bitvore Ids. \n\n To include a mapping, construct an PortfolioItem and ItemCustomId as followed \n\n ```js\n { \n \t \"id\": \"b0004hrm6\", \n \t \"customIds\": \n \t\t[{ \n \t\t\"id\": \"0x000201\", \n \t\t\"type\": \"FOREIGN_ID\" \n \t}, \n \t{ \n \t\t\"id\": \"0x000202\", \n \t\t\"type\": \"FOREIGN_ID\" \n \t}] \n } \n ```\n \n\n Please note when using the Portfolio API, you should not mix the use of update items by 'Ids' and 'Items' as they can overwrite existing data. \n \n\n "
  Sentiment Scores API: "## Sentiment Scores API \n\n The Score APIs provide access to the different scores Bitvore generates, such as company sentiment scores. Scores are calculated by gathering data over a period of time and aggregated in some manner to produce a numerical score that can be used to compare, trend, and correlate with other information. The scores are calculated periodically and are made available in a time series format by the APIs. \n\n The [Sentiment Scores API](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=Sentiment%20Scores%20API) provides scores measuring the sentiment about a company in regards to a given topic, such as a growth, risk, or an overall sentiment. The company sentiment score is calculated daily. Scores for each day are returned for each company requested over a given time period. \n\n To register for an API Key please contact the [Products Team](mailto:products@bitvore.com). The API key can be used directly or to obtain an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security) page.\n\n "
