openapi: 3.2.0
info:
  title: Bitvore News API
  license:
    name: Copyright Bitvore Corp. 2026
  version: '1.0'
  description: 'Operations tagged News API across 2 of this provider''s published API definitions: bitvore-corporate-openapi.yml, bitvore-muni-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bitvore.com/
tags:
- name: News API
  description: Precision and Economic News
paths:
  /v2/corp/econnews/byfips:
    get:
      tags:
      - News API
      summary: Economic News Search by FIPS
      description: 'Provides the ability to search for news relevant to economy of a region:

        * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found here. FIPS codes for CBSAs can be found here. Maps of CBSAs can be found here.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.


        The following is an example of using the API.


        To query for the economic news about the Los Angeles region using the FIPS code 037 between 7/1/2018 and 7/31/2018 :


        ```js

        GET https://api.bitvore.com/v2/corp/econnews?fips=037&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00

        ```


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sentiment" : 0.28571313,

        "esgSentiment" : 0.78078979,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "Germany",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Invalid state specified",

        "reasonSupport": "san irvine",

        "count": 0

        }

        ```'
      operationId: handleFipsEconSearchUsingGET
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/corp/econnews/bylocation:
    get:
      tags:
      - News API
      summary: Economic News Search by Location
      description: 'Provides the ability to search for news relevant to economy of a location:

        * State - Querying by state returns only news articles that have been written about events that have occurred within the given state.

        * City - Querying by city returns only news articles that have been written about events that have occurred within the given city. This option requires the use of the State option to avoid ambiguity.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.


        The following is an example of using the API.


        To query for the economic news about Irvine, California between 7/1/2018 and 7/31/2018 :


        ```js

        GET https://api.bitvore.com/v2/corp/econnews?state=ca&city=irvine&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00

        ```


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sentiment" : 0.28571313,

        "esgSentiment" : 0.78078979,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "Germany",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Invalid state specified",

        "reasonSupport": "san irvine",

        "count": 0

        }

        ```'
      operationId: handleEconSearchUsingGET_1
      parameters:
      - name: state
        in: query
        description: State (code) to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        x-example: CA
        schema:
          type: string
      - name: city
        in: query
        description: City to retrieve municipal and economic news for.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/corp/news:
    get:
      tags:
      - News API
      summary: Corporate News
      description: Provides a simple GET oriented corporate news search capability.
      operationId: handleNewsSearchUsingGET
      parameters:
      - name: bvIds
        in: query
        description: One or more Bitvore Ids identifying entities to retrieve news for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - News
          - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - domainName
          - ticker
          - city
          - state
          - country
          - cusip
          - figi
          - isin
          - sedol
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - News API
      summary: Advanced Corporate News Query
      description: Provides an advanced corporate news search capability.
      operationId: handleCorpAdvancedSearchUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateNewsRequest'
              originalRef: CorporateNewsRequest
        description: request
        required: true
    servers:
    - url: https://api.bitvore.com/
  /v2/corp/news/byKey/enriched:
    post:
      tags:
      - News API
      summary: Enriched Record by Record Key
      operationId: handleGetEnrichedRecordUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnrichedRecordsResponse'
                originalRef: EnrichedRecordsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: Record Keys to retrieve enriched news for.
    servers:
    - url: https://api.bitvore.com/
  /v2/corp/news/byKey/{recordKey}/enriched:
    get:
      tags:
      - News API
      summary: Enriched Record by Record Key
      operationId: handleGetEnrichedRecordUsingGET
      parameters:
      - name: recordKey
        in: path
        description: Record Key to retrieve enriched news for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnrichedRecordsResponse'
                originalRef: EnrichedRecordsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/corp/news/byid:
    get:
      tags:
      - News API
      summary: Corporate News by Organization Id
      description: Provides a simple GET oriented corporate news search capability.
      operationId: handleNewsSearchUsingGET_1
      parameters:
      - name: ids
        in: query
        description: Organization Id
        required: true
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: idScheme
        in: query
        description: Organization Id Scheme
        required: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - BVID
          - CUSIP
          - ISIN
          - SEDOL
          - FIGI
          default: BVID
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - News
          - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - domainName
          - ticker
          - city
          - state
          - country
          - cusip
          - figi
          - isin
          - sedol
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/corp/news/byportfolio:
    get:
      tags:
      - News API
      summary: Corporate News by Portfolio
      description: Provides a simple GET oriented corporate news search capability.
      operationId: handlePortfolioNewsSearchUsingGET
      parameters:
      - name: portfolioId
        in: query
        description: Id identifying a portfolio to retrieve news for.
        required: true
        allowEmptyValue: false
        schema:
          type: integer
          format: int64
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - News
          - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news when not using a portfolio
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - domainName
          - ticker
          - city
          - state
          - country
          - cusip
          - figi
          - isin
          - sedol
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorpNewsResultsResponse'
                originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccessDeniedResponse'
                originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
                originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/muni/econnews/byfips:
    get:
      tags:
      - News API
      summary: Economic News Search by FIPS
      description: 'Provides the ability to search for news relevant to economy of a region:

        * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found here. FIPS codes for CBSAs can be found here. Maps of CBSAs can be found here.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.


        The following is an example of using the API.


        To query for the economic news about the Los Angeles region using the FIPS code 037 between 7/1/2018 and 7/31/2018 :


        ```js

        GET https://api.bitvore.com/v2/corp/econnews?fips=037&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00

        ```


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sentiment" : 0.28571313,

        "esgSentiment" : 0.78078979,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "Germany",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Invalid state specified",

        "reasonSupport": "san irvine",

        "count": 0

        }

        ```'
      operationId: handleFipsEconSearchUsingGET_1
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/muni/econnews/bylocation:
    get:
      tags:
      - News API
      summary: Economic News Search by Location
      description: 'Provides the ability to search for news relevant to economy of a location:

        * State - Querying by state returns only news articles that have been written about events that have occurred within the given state.

        * City - Querying by city returns only news articles that have been written about events that have occurred within the given city. This option requires the use of the State option to avoid ambiguity.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.


        The following is an example of using the API.


        To query for the economic news about Irvine, California between 7/1/2018 and 7/31/2018 :


        ```js

        GET https://api.bitvore.com/v2/corp/econnews?state=ca&city=irvine&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00

        ```


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sentiment" : 0.28571313,

        "esgSentiment" : 0.78078979,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "Germany",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Invalid state specified",

        "reasonSupport": "san irvine",

        "count": 0

        }

        ```'
      operationId: handleEconSearchUsingGET_2
      parameters:
      - name: state
        in: query
        description: State (code) to retrieve municipal and economic news for.
        required: true
        allowEmptyValue: false
        x-example: CA
        schema:
          type: string
      - name: city
        in: query
        description: City to retrieve municipal and economic news for.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/muni/news:
    get:
      tags:
      - News API
      summary: Municipal News Search by CUSIP
      description: 'Provides the ability to search for news relevant to municipal bonds. The search criteria used when querying news includes the following options:

        * CUSIP - Querying by CUSIP returns only news articles where the identified bond is somehow affected by the subject matter of an article.

        * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are:

        * Development

        * Education

        * HigherEducation

        * PrimarySecondaryEducation

        * Health

        * Housing

        * LocalGov

        * TaxRevenue

        * Transportation

        * Utility


        * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are ''.'' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found here.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.

        * Include CUSIPs - Return all CUSIPs affected by the subject matter of an article. This option requires a verified CGS license.


        The metadata tags of articles specific to municipal news returned in addition to the common tags above are:

        * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article.

        * Sectors - 0 or more sectors the article is reporting news about.

        * Significance - The significance of the article, high or medium.


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "matchedCusips": ["00037CSW1"],

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sectors": ["Utilities"],

        "sentiment" : 0.28571313,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "United States",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Bad cusips found",

        "reasonSupport": "123456789 987654321",

        "count": 0

        }

        ```'
      operationId: handleCusipMuniSearchUsingGET
      parameters:
      - name: cusip
        in: query
        description: One or more CUSIPs identifying the bonds to retrieve news for.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - News API
      summary: Advanced Municipal News Search
      description: Provides an advanced municipal news search capability.
      operationId: handleMuniAdvancedSearchUsingPOST_1
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MunicipalNewsRequest'
              originalRef: MunicipalNewsRequest
        description: request
        required: true
    servers:
    - url: https://api.bitvore.com/
  /v2/muni/news/byfips:
    get:
      tags:
      - News API
      summary: Municipal News Search by FIPS
      description: 'Provides the ability to search for news relevant to municipal bonds using a FIPS location identifier. The search criteria used when querying news includes the following options:

        * FIPS - Querying by FIPS code returns only news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes for counties can be found here. FIPS codes for CBSAs can be found here. Maps of CBSAs can be found here.

        * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are:

        * Development

        * Education

        * HigherEducation

        * PrimarySecondaryEducation

        * Health

        * Housing

        * LocalGov

        * TaxRevenue

        * Transportation

        * Utility


        * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are ''.'' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found here.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.

        * Include CUSIPs - Return ALL cusips affected by the subject matter of an article. This option requires a verified CGS license.


        The metadata tags of articles specific to municipal news returned in addition to the common tags above are:

        * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article.

        * Sectors - 0 or more sectors the article is reporting news about.

        * Significance - The significance of the article, high or medium.


        The following is an example of using the API.


        To query for the news about the education sector in California between 7/1/2018 and 7/31/2018 :


        ```js

        GET https://api.bitvore.com/v2/muni/news/byfips?fips=06059§or=education&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00

        ```


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "matchedCusips": ["00037CSW1"],

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sectors": ["Utilities"],

        "sentiment" : 0.28571313,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "United States",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Bad cusips found",

        "reasonSupport": "123456789 987654321",

        "count": 0

        }

        ```'
      operationId: handleFipsMuniSearchUsingGET
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve news for
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sector
        in: query
        description: Sector to retrieve news for
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/muni/news/bylocation:
    get:
      tags:
      - News API
      summary: Municipal News Search by Location
      description: 'Provides the ability to search for news relevant to municipal bonds using a location. The search criteria used when querying news includes the following options:

        * State - Querying by state returns only news articles that have been written about events that have occurred within the given state.

        * City - Querying by city returns only news articles that have been written about events that have occurred within the given city. This option requires the use of the State option to avoid ambiguity.

        * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are:

        * Development

        * Education

        * HigherEducation

        * PrimarySecondaryEducation

        * Health

        * Housing

        * LocalGov

        * TaxRevenue

        * Transportation

        * Utility


        * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are ''.'' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found here.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.

        * Include CUSIPs - Return ALL cusips affected by the subject matter of an article. This option requires a verified CGS license.


        The following are some examples of using the API.


        To query for the news about the education sector in California between 7/1/2018 and 7/31/2018 :


        ```js

        GET https://api.bitvore.com/v2/muni/news/bylocation?state=ca§or=education&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00

        ```


        The metadata tags of articles specific to municipal news returned in addition to the common tags above are:

        * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article.

        * Sectors - 0 or more sectors the article is reporting news about.

        * Significance - The significance of the article, high or medium.


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "matchedCusips": ["00037CSW1"],

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sectors": ["Utilities"],

        "sentiment" : 0.28571313,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "United States",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Bad cusips found",

        "reasonSupport": "123456789 987654321",

        "count": 0

        }

        ```'
      operationId: handleLocationMuniSearchUsingGET
      parameters:
      - name: state
        in: query
        description: State to retrieve news for.
        required: true
        allowEmptyValue: false
        x-example: CA
        schema:
          type: string
      - name: city
        in: query
        description: City to retrieve news for.
        required: false
        allowEmptyValue: false
        x-example: Los Angeles
        schema:
          type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sector
        in: query
        description: Sector to retrieve news for
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized to view news
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
  /v2/muni/news/byportfolio:
    get:
      tags:
      - News API
      summary: Municipal News Search by Portfolio
      description: 'Provides the ability to search for news relevant to municipal bonds using a portfolio. The search criteria used when querying news includes the following options:

        * Portfolio - A portfolio is made up of one or more CUSIPs. Querying by portfolio returns only news articles where any of the bonds in the portfolio are affected by the subject matter of an article.

        * Sector - Querying by sector returns only news articles that are written about the given sector. The sectors supported are:

        * Development

        * Education

        * HigherEducation

        * PrimarySecondaryEducation

        * Health

        * Housing

        * LocalGov

        * TaxRevenue

        * Transportation

        * Utility


        * Signal - An article can be classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are ''.'' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found here.

        * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous options listed.

        * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.

        * Significance - Articles are classified by their significance. A highly significant article is one that is alert worthy whereas less significant articles are more relevant when performing research. This option will filter the results returned by the previous options listed.

        * Include CUSIPs - Return ALL cusips affected by the subject matter of an article. This option requires a verified CGS license.


        The following are some examples of using the API.


        To query for the news about a portfolio between 1:00 and 2:00 PM PST on 7/1/2018 (using HTTP header for api key):


        ```js

        GET https://api.bitvore.com/v2/muni/news/byportfolio?portfolioId=12345&startDate=2018-07-01T13:00:00.000+07:00&endDate=2018-07-01T14:00:00.000+07:00 ```


        The metadata tags of articles specific to municipal news returned in addition to the common tags above are:

        * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article.

        * Sectors - 0 or more sectors the article is reporting news about.

        * Significance - The significance of the article, high or medium.


        A sample successful response is:


        ```js

        {

        "success": true,

        "returned": 1,

        "total": 1,

        "response": [

        {

        "key": "070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c",

        "articleType": "News",

        "title": "Irvine And Carlsbad Water Agreement",

        "sourceName": "dailyexpress.com",

        "sourceUrl": "http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A",

        "previewImageUrl": "http://dailyexpress.com/resources/irvine-carlsbad.jpg",

        "excerpt": "Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...",

        "matchedCusips": ["00037CSW1"],

        "locations": ["/Orange County/California/United States", "Los Angeles//California/United States"],

        "sectors": ["Utilities"],

        "sentiment" : 0.28571313,

        "significance": "HIGH",

        "articleLocations": ["United States"],

        "sourceLocation": "United States",

        "publishedAt": "2017-06-29T21:41:19.109Z",

        "availableAt": "2017-06-29T21:41:21.109Z",

        }

        ]

        }

        ```

        A sample unsuccessful response is:


        ```js

        {

        "success": false,

        "reason": "Bad cusips found",

        "reasonSupport": "123456789 987654321",

        "count": 0

        }

        ```'
      operationId: handlePortfolioMuniSearchUsingGET
      parameters:
      - name: portfolioId
        in: query
        description: Id identifying a portfolio to retrieve news for.
        required: true
        allowEmptyValue: false
        schema:
          type: integer
          format: int64
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
        schema:
          type: string
          format: date-time
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MuniNewsResponse'
                originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
        '500':
          description: Internal error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicResponse'
                originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    servers:
    - url: https://api.bitvore.com/
components:
  schemas:
    InternalErrorResponse:
      type: object
      properties:
        reason:
          type: string
          example: internal_error
        reasonSupport:
          type: string
          example: An internal error occured.
        response:
          type: string
          example: INTERNAL_SERVER_ERROR
        success:
          type: boolean
          example: false
      title: InternalErrorResponse
    AccessDeniedResponse:
      type: object
      properties:
        reason:
          type: string
          example: access_denied
        reasonSupport:
          type: string
          example: You are not authorized for this resource.
        response:
          type: string
          example: UNAUTHORIZED
        success:
          type: boolean
          example: false
      title: AccessDeniedResponse
    CorpNewsResultsResponse:
      type: object
      properties:
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/CorpNewsArticle'
            originalRef: CorpNewsArticle
        returned:
          type: integer
          format: int32
          example: 10
          description: Number of items return
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
        total:
          type: integer
          format: int32
          example: 100
          description: Total number of items available
      title: CorpNewsResultsResponse
      description: A paged result response.
    MuniNewsResponse:
      type: object
      properties:
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/MuniNewsArticle'
            originalRef: MuniNewsArticle
        returned:
          type: integer
          format: int32
          example: 10
          description: Number of items return
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
        total:
          type: integer
          format: int32
          example: 100
          description: Total number of items available
      title: MuniNewsResponse
      description: A paged result response.
    OrganizationScope:
      type: object
      properties:
        customIds:
          type: array
          description: One or more custom Ids identifying the entities to retrieve news for, the Ids must be mapped in the supplied portfolio
          items:
            type: string
        ids:
          type: array
          description: One or more Bitvore IDs identifying entities to retrieve news for.
          items:
            type: string
        orgIdScheme:
          type: string
          enum:
          - BVID
          - CUSIP
          - ISIN
          - SEDOL
          - FIGI
        orgQuery:
          description: Query criteria identifying the entities to retrieve news for.
          $ref: '#/components/schemas/OrganizationQueryCriteria'
          originalRef: OrganizationQueryCriteria
        portfolioId:
          type: integer
          format: int64
          description: Id identifying a portfolio to retrieve news for.
      title: OrganizationScope
      description: Identifies the organizations that should be the subject of the news to be returned. Only one of the supported options should be used at a time.
    Organization:
      type: object
      properties:
        bvId:
          type: string
          example: b00001ab7
          description: Bitvore Id of the organization
        city:
          type: string
          example: Irvine
          description: City the organization is headquartered in.
        country:
          type: string
          example: United States
          description: Country the organization is headquartered in.
        domainName:
          type: string
          example: acme.com
          description: Domain name of the organization.
        factSetId:
          type: string
        isin:
          type: string
          example: US5949181045
          description: 'ISIN of the organization. (Requires License: ''ISIN'')'
        listings:
          type: array
          description: The exchange listings of the organization.
          items:
            $ref: '#/components/schemas/Listing'
            originalRef: Listing
        name:
          type: string
          example: ACME Corp
          description: Name of the organization.
        state:
          type: string
          example: CA
          description: State (code) the organization is headquartered in.
        ticker:
          type: string
          description: The primary ticker symbol the organization.
      title: Organization
    MuniNewsArticle:
      type: object
      properties:
        articleLocations:
          type: array
          example: United States
          description: The countries that the article is likely about.
          items:
            type: string
        articleType:
          type: string
          example: PressRelease
          description: Type of article. Possible values are "News" and "PressRelease
        availableAt:
          type: string
          example: '2017-06-29T21:41:21.109Z'
          description: Date available
        cusips:
          type: array
          example: 02361DAP5, 002824AV2
          description: CUSIPs affected by the article. Required valid CUSIP license and permission.
          items:
            type: string
        esgSentiment:
          type: number
          format: double
          example: 0.78078
          description: ESG Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over 0 is positive.
        excerpt:
          type: string
          example: ACME announces long awaited acquisition. The acquisition of Wile E. Coyote was announced Thursday.
          description: Fragment or snippet, of the article
        key:
          type: string
          example: 070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c
          description: Key uniquely identifying the article
        locations:
          type: array
          example: Irvine//California/United States, /San Diego County/California/United States
          description: Locations affected. A location is city or county level. It is encoded as city/county/state/country where if the city is specified the county will not be and vice-versa
          items:
            type: string
        matchedCusips:
          type: array
          example: 02361DAP5, 002824AV2
          description: CUSIPs affected by the article that match the input CUSIPs, or are contained in the supplied portfolio.
          items:
            type: string
        previewImageUrl:
          type: string
          example: http://acme.com/resources/coyote.jpg
          description: URL of a preview image
        publishedAt:
          type: string
          example: '2017-06-29T21:41:21.109Z'
          description: Date published
        sectors:
          type: array
          example: Education, Utilities
          description: Sectors which the article belongs to.
          items:
            type: string
        sentiment:
          type: number
          format: double
          example: 0.23456
          description: Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over 0 is positive.
        signals:
          type: array
          example:
          - Environment.ClimateChange
          - Social.EmployeeStandards.FairWagesBenefits
          description: 'Signals and topics. See glossary for available values. (Requires license: ''ESG'')'
          items:
            type: string
        significance:
          type: string
          example: HIGH
          description: Significance of the article. Possible values are "HIGH" and "MEDIUM"
        sourceLocation:
          type: string
          example: Germany
          description: The country that is likely the source of the article.
        sourceName:
          type: string
          example: businesswire.com, The Washington Daybook
          description: Name or host name of the publisher of the article
        sourceUrl:
          type: string
          example: http://acme.com/press
          description: URL to the original source of the article
        title:
          type: string
          example: ACME acquires Wile E. Coyote, Inc.
          description: Title
      title: MuniNewsArticle
      description: Muni news article.
    EnrichedRecordsResponse:
      type: object
      properties:
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/EnrichedRecord'
            originalRef: EnrichedRecord
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: EnrichedRecordsResponse
    CorpNewsArticle:
      type: object
      properties:
        articleLocations:
          type: array
          example: United States
          description: The countries that the article is likely about.
          items:
            type: string
        articleType:
          type: string
          example: PressRelease
          description: Type of article. Possible values are "News" and "PressRelease
        availableAt:
          type: string
          example: '2017-06-29T21:41:21.109Z'
          description: Date available
        esgSentiment:
          type: number
          format: double
          example: 0.78078
          description: ESG Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over 0 is positive.
        excerpt:
          type: string
          example: ACME announces long awaited acquisition. The acquisition of Wile E. Coyote was announced Thursday.
          description: Fragment or snippet, of the article
        key:
          type: string
          example: 070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c
          description: Key uniquely identifying the article
        matchedArticleOrgs:
          type: array
          description: Organizations that are the primary actors either directly or indirectly.
          items:
            $ref: '#/components/schemas/Organization'
            originalRef: Organization
        matchedOrgs:
          type: array
          description: Organizations that match the input organization scope that are primary actors in the article or related to those primary actors.
          items:
            $ref: '#/components/schemas/Organization'
            originalRef: Organization
        phrases:
          type: array
          example: referendum, embassy_attack
          description: 'Key phrases identified in Themed news. (Requires license: ''Themes'')'
          items:
            type: string
        previewImageUrl:
          type: string
          example: http://acme.com/resources/coyote.jpg
          description: URL of a preview image
        publishedAt:
          type: string
          example: '2017-06-29T21:41:21.109Z'
          description: Date published
        referencedOrgHierarchy:
          type: array
          description: Organizations who are the primary actors in the article and their parent Organizations.
          items:
            $ref: '#/components/schemas/Organization'
            originalRef: Organization
        referencedOrgs:
          type: array
          description: Organizations who are the primary actors in the article.
          items:
            $ref: '#/components/schemas/Organization'
            originalRef: Organization
        sentiment:
          type: number
          format: double
          example: 0.23456
          description: Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over 0 is positive.
        signals:
          type: array
          example:
          - Business.Labor
          - Business.Labor.Hiring
          description: 'Signals and topics. See glossary for available values. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
          items:
            type: string
        significance:
          type: string
          example: HIGH
          description: Significance of the article. Possible values are "HIGH" and "MEDIUM"
        similarityClusterId:
          type: string
          example: 075005015cf083aba01f0826ecfe718e965b577c572166b14a77652e
          description: Id of the similarity cluster it belongs to.
        sourceLocation:
          type: string
          example: Germany
          description: The country that is likely the source of the article.
        sourceName:
          type: string
          example: businesswire.com, The Washington Daybook
          description: Name or host name of the publisher of the article
        sourceUrl:
          type: string
          example: http://acme.com/press
          description: URL to the original source of the article
        themes:
          type: array
          example:
          - Brexit
          - TradeWar
          description: 'Trending Themes. See glossary for available values. (Requires license: ''Themes'')'
          items:
            type: string
        title:
          type: string
          example: ACME acquires Wile E. Coyote, Inc.
          description: Title
      title: CorpNewsArticle
      description: Corp news article.
    CorporateNewsRequest:
      type: object
      properties:
        articleTypes:
          type: array
          example:
          - News
          - PressRelease
          description: One or more types of arcticles to return. By default all types are returned.
          items:
            type: string
            enum:
            - News
            - PressRelease
        dateType:
          type: string
          description: Date type to consider while searching news. Either when the content was 'published', or when the content was made first 'available' after analysis.
          enum:
          - available
          - published
        endDate:
          type: string
          format: date-time
          example: '2021-04-11T23:59:59.000Z'
          description: Date to end with. Time offset will be converted to UTC (Z)
        orgField:
          type: array
          description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
          items:
            type: string
            enum:
            - name
            - domainName
            - ticker
            - city
            - state
            - country
            - cusip
            - figi
            - isin
            - sedol
        orgScope:
          description: Identifies the organizations that should be the subject of the news to be returned. Only one of the supported options should be used at a time.
          $ref: '#/components/schemas/OrganizationScope'
          originalRef: OrganizationScope
        pageNo:
          type: integer
          format: int32
          example: 1
          description: Page number of the total result set to return.
        pageSize:
          type: integer
          format: int32
          example: 100
          description: Number of results out of the total result set per page to return, maximum is 1000.
        signals:
          type: array
          example:
          - Business.MergerAcquisitions
          - Business.FinancialFilings
          description: 'Signals and events. See glossary for available values. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
          items:
            type: string
        significance:
          type: string
          example: HIGH
          description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
          enum:
          - HIGH
          - MEDIUM
        similarity:
          type: string
          description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        startDate:
          type: string
          format: date-time
          example: '2021-04-10T00:00:00.000Z'
          description: Date to start from. Time offset will be converted to UTC (Z)
        text:
          type: string
          example: blockchain
          description: Keyword search.
        themes:
          type: array
          example:
          - Brexit
          - TradeWar
          description: 'Trending Themes. See glossary for available values. (Requires license: ''Themes'')'
          items:
            type: string
      title: CorporateNewsRequest
      description: Corporate news search request.
    OrganizationQueryCriteria:
      type: object
      properties:
        empRange:
          type: string
          example: 200-5000
          description: Employee range companies must fall in. The range is formatted as <lower>-<upper> where lower and upper must be one of 1, 10, 50, 200, 500, 1000, 5000, 10000. The upper bound can be omitted to report over 1B.
        fips:
          type: array
          example:
          - '35620'
          description: One or more FIPS codes identifying locations the companies must have their headquarters in.
          items:
            type: string
        location:
          type: array
          example:
          - Los Angeles/California/United States
          description: One or more locations companies must have their headquarters in.
          items:
            type: string
        naics:
          type: array
          example:
          - '221114'
          - '221115'
          description: One or more NAICS codes identifying industries the companies must operate in.
          items:
            type: string
        revRange:
          type: string
          example: 50-200
          description: Revenue range (in millions) companies must fall in. The range is formatted as <lower>-<upper> where lower and upper must be one of 0, 1, 10, 50, 100, 200, 1000. The upper bound can be omitted to report over 1B.
        sic:
          type: array
          example:
          - '1311'
          - '1381'
          description: One or more SIC codes identifying industries the companies must operate in.
          items:
            type: string
      title: OrganizationQueryCriteria
      description: Query criteria identifying the companies/organizations that should be the subject of the news to be returned.
    EnrichedRecord:
      type: object
      properties:
        enriched:
          type: object
          description: Enriched data for the given record
        errorMessage:
          type: string
          description: An error message, if there is one.
        key:
          type: string
          description: Record Key
        publishedAt:
          type: string
          example: '2022-06-29T21:41:21.109Z'
          description: Date published
        timestamp:
          type: string
          example: '2022-06-29T21:41:21.109Z'
          description: Request timestamp
      title: EnrichedRecord
    ReasonResponse:
      type: object
      properties:
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: object
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: object
          description: Response payload
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: ReasonResponse
      description: A response used to explain a failure or issue with the request.
    Listing:
      type: object
      properties:
        exchange:
          type: string
          example: NAS
          description: The exchange the ticker belongs to.
        mic:
          type: string
          example: XNAS
          description: The MIC code of the exchange
        region:
          type: string
          example: US
          description: The geographic region of the exchange
        ticker:
          type: string
[...]
