swagger: '2.0'
info:
  description: "### Cellenus Corporate APIs\r\nThe Cellenus Corporate APIs consists of three main datasets, \"Corporate, Market\
    \ & Industry\", \"ESG\", and \"Thematic Trending\" which provide news, events, press releases relevant to corporate entities,\
    \ typically identifying signals that affect them. Bitvore currently surveils most public companies traded on US and international\
    \ exchanges, US companies and international companies. Additionally, new companies required by a customer can be requested\
    \ to be added to our surveillance.\r\n\r\nThe Corporate APIs also includes access to economic news for geographic locations\
    \ in the United States.\r\n\r\nA typical record in the dataset is depicted below.\r\n\r\n![News Article](https://bitvorestaticassets.blob.core.windows.net/api-docs/corp-news-article.png)\r\
    \n\r\nAccess to the Corporate Datasets using the Corporate APIs requires its own license and API key.  To register for\
    \ an API Key please visit [here](http://developer.bitvore.com/v2/getting-started?section=obtain-api-key). \r\n\r\nThe\
    \ Cellenus Corporate APIs, include [Corporate News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API),\
    \ [Ecomomic News](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API), [Organizations](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Organizations%20API),\
    \ [Portfolio Integration](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Portfolios%20API), [Sentiment Scores](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Sentiment%20Scores%20API),\
    \ [Financial Filings](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Filings%20API) and [Datasets](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Datasets%20API).\r\
    \n\r\nThe [Corporate News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API) provides direct\
    \ access to the curated news based on company ID (Bitvore ID), portfolio, customer ID, industry, location, and certain\
    \ company characteristics such as number of employees and annual revenue.\r\n\r\nThe [Economic News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API)\
    \ provides direct access to the curated news relevant to the economy of a location or region.\r\n\r\nThe [Organizations\
    \ API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Organizations%20API) provides the ability to search\
    \ for companies by a variety of company characteristics such as name, web domain, ticker, industry, location, number of\
    \ employees, and annual revenue. Each company is uniquely identified by a Bitvore ID which can be used as input to query\
    \ the [News API](http://developer.bitvore.com/v2/docs/overview).\r\n\r\nThe [Portfolios API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Portfolios%20API)\
    \ provides the ability to either create and maintain portfolios of companies so that news can be queried in a single call\
    \ from the [News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API) for a given portfolio or\
    \ to map your own company ID scheme to Bitvore's so you can query the [News API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=News%20API)\
    \ with your own IDs.\r\n\r\nThe [Filings API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Filings%20API)\
    \ provides direct access to the financial filings submitted to regulatory agencies such as the SEC on behalf of companies\
    \ found in the [Organizations API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Organizations%20API).\r\n\
    \r\nThe [Datasets API](http://developer.bitvore.com/v2/docs/overview/corp?tagname=Datasets%20API) provides dataset and\
    \ changeset exporting. This API provides offline data consumption that can be used with external tools.\r\n\r\n"
  version: '2.1'
  title: Corporate APIs
  license:
    name: Copyright Bitvore Corp. 2026
host: api.bitvore.com
basePath: /
tags:
- name: Datasets API
  description: Export Files and Reports
- name: Filings API
  description: Financial Filings, Submissions and Summaries
- name: News API
  description: Precision and Economic News
- name: Organizations API
  description: Organization Details and Search
- name: Portfolios API
  description: Manage Organization-based Portfolios
- name: Sentiment Scores API
  description: Organization Scores
paths:
  /v2/corp/changesets:
    get:
      tags:
      - Datasets API
      summary: Changesets
      description: "Returns the specified changesets by date range.\n Requests are limited to 31 days and up to 1000 results\
        \ per page."
      operationId: getChangesetsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: changesets
        in: query
        description: "One or more changeset type.\n Changesets: entities-added,entities-merged,entities-modified,entities-removed,fields-added,fields-modified,fields-removed,records-added,records-modified,records-removed"
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - entities-added
        - entities-merged
        - entities-modified
        - entities-removed
        - fields-added
        - fields-modified
        - fields-removed
        - records-added
        - records-modified
        - records-removed
      - name: startDate
        in: query
        description: The start date of the changeset, inclusive.
        required: true
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-05-10T00:00:00.000Z'
      - name: endDate
        in: query
        description: The end date of the changeset, inclusive, maximum date range is 31.
        required: true
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-05-12T23:59:59.999Z'
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 1000, maximum is 1000.
        required: false
        type: integer
        default: 1000
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Content
          schema:
            type: integer
            format: int32
            minimum: -128
            maximum: 127
        '204':
          description: No Content
          schema:
            type: array
            items:
              $ref: '#/definitions/Changeset'
              originalRef: Changeset
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/changesets/{changeset}:
    get:
      tags:
      - Datasets API
      summary: Changeset Report
      description: Returns a csv of the specified changeset type by date range provided. Limit of 1000 results per request.
      operationId: downloadChangesetsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: changeset
        in: path
        description: changeset
        required: true
        type: string
        enum:
        - entities-added
        - entities-merged
        - entities-modified
        - entities-removed
        - fields-added
        - fields-modified
        - fields-removed
        - records-added
        - records-modified
        - records-removed
      - name: startDate
        in: query
        description: The start date of the report, inclusive.
        required: true
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-05-10T00:00:00Z'
      - name: endDate
        in: query
        description: The end date of the report, exclusive.
        required: true
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-05-12T00:00:00Z'
      - name: compression
        in: query
        description: Optional compression
        required: false
        type: string
        default: none
        allowEmptyValue: false
        enum:
        - zip
        - gzip
      responses:
        '200':
          description: Content
          schema:
            type: integer
            format: int32
            minimum: -128
            maximum: 127
        '204':
          description: No Content
          schema:
            type: object
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/changesets/{changeset}/{year}/{month}/{day}:
    get:
      tags:
      - Datasets API
      summary: Daily Changeset
      description: Returns a url for a compressed changeset file for the specified day. Daily changesets will be available
        for 7 days.
      operationId: getDailyDatasetsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: changeset
        in: path
        description: changeset
        required: true
        type: string
        enum:
        - entities-added
        - entities-merged
        - entities-modified
        - entities-removed
        - fields-added
        - fields-modified
        - fields-removed
        - records-added
        - records-modified
        - records-removed
      - name: year
        in: path
        description: year
        required: true
        type: string
        enum:
        - '2022'
        - '2021'
        - '2020'
        - '2019'
        - '2018'
        - '2017'
        - '2016'
        - '2015'
      - name: month
        in: path
        description: month
        required: true
        type: string
        x-example: '05'
        enum:
        - '01'
        - '02'
        - '03'
        - '04'
        - '05'
        - '06'
        - '07'
        - 08
        - 09
        - '10'
        - '11'
        - '12'
      - name: day
        in: path
        description: day
        required: true
        type: string
        x-example: '04'
        enum:
        - '01'
        - '02'
        - '03'
        - '04'
        - '05'
        - '06'
        - '07'
        - 08
        - 09
        - '10'
        - '11'
        - '12'
        - '13'
        - '14'
        - '15'
        - '16'
        - '17'
        - '18'
        - '19'
        - '20'
        - '21'
        - '22'
        - '23'
        - '24'
        - '25'
        - '26'
        - '27'
        - '28'
        - '29'
        - '30'
        - '31'
      responses:
        '200':
          description: Content
          schema:
            type: integer
            format: int32
            minimum: -128
            maximum: 127
        '204':
          description: No Content
          schema:
            type: object
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
      x-info: Key Required
  /v2/corp/datasets/{dataset}/{year}:
    get:
      tags:
      - Datasets API
      summary: Yearly Dataset
      description: Returns a url for a compressed dataset file for the specified year. Files can range from a few megabytes
        to hundreds of megabytes.
      operationId: getYearlyDatasetsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: dataset
        in: path
        description: dataset
        required: true
        type: string
        enum:
        - corp-sentiment-scores
        - corp-signals
        - esg-signals
      - name: year
        in: path
        description: year
        required: true
        type: string
        enum:
        - '2022'
        - '2021'
        - '2020'
        - '2019'
        - '2018'
        - '2017'
        - '2016'
        - '2015'
      responses:
        '200':
          description: Content
          schema:
            type: integer
            format: int32
            minimum: -128
            maximum: 127
        '204':
          description: No Content
          schema:
            type: object
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/datasets/{dataset}/{year}/{month}/{day}:
    get:
      tags:
      - Datasets API
      summary: Daily Dataset
      description: Returns a url for a compressed dataset file for the specified day. Daily datasets will be available for
        7 days.
      operationId: getDailyDatasetsUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: dataset
        in: path
        description: dataset
        required: true
        type: string
        enum:
        - corp-sentiment-scores
        - corp-signals
        - entities
        - esg-signals
      - name: year
        in: path
        description: year
        required: true
        type: string
        enum:
        - '2022'
        - '2021'
        - '2020'
        - '2019'
        - '2018'
        - '2017'
        - '2016'
        - '2015'
      - name: month
        in: path
        description: month
        required: true
        type: string
        x-example: '05'
        enum:
        - '01'
        - '02'
        - '03'
        - '04'
        - '05'
        - '06'
        - '07'
        - 08
        - 09
        - '10'
        - '11'
        - '12'
      - name: day
        in: path
        description: day
        required: true
        type: string
        x-example: '04'
        enum:
        - '01'
        - '02'
        - '03'
        - '04'
        - '05'
        - '06'
        - '07'
        - 08
        - 09
        - '10'
        - '11'
        - '12'
        - '13'
        - '14'
        - '15'
        - '16'
        - '17'
        - '18'
        - '19'
        - '20'
        - '21'
        - '22'
        - '23'
        - '24'
        - '25'
        - '26'
        - '27'
        - '28'
        - '29'
        - '30'
        - '31'
      responses:
        '200':
          description: Content
          schema:
            type: integer
            format: int32
            minimum: -128
            maximum: 127
        '204':
          description: No Content
          schema:
            type: object
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/econnews/byfips:
    get:
      tags:
      - News API
      summary: Economic News Search by FIPS
      description: "Provides the ability to search for news relevant to economy of a region: \n * FIPS - Querying by FIPS\
        \ code returns only news articles that have been written about events that have occurred within the given county or\
        \ CBSA. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf).\
        \ FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf).\
        \ Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Free\
        \ Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous\
        \ options listed. \n * Significance - Articles are classified by their significance. A highly significant article\
        \ is one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n \n\n The following is an example of using the\
        \ API. \n\n To query for the economic news about the Los Angeles region using the FIPS code 037 between 7/1/2018 and\
        \ 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?fips=037&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\"\
        : 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n\
        \ \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\":\
        \ [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\"\
        \ : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\"\
        : [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\"\
        ,\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response\
        \ is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"\
        san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleFipsEconSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve municipal and economic news for.
        required: true
        type: string
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/econnews/bylocation:
    get:
      tags:
      - News API
      summary: Economic News Search by Location
      description: "Provides the ability to search for news relevant to economy of a location: \n * State - Querying by state\
        \ returns only news articles that have been written about events that have occurred within the given state. \n * City\
        \ - Querying by city returns only news articles that have been written about events that have occurred within the\
        \ given city. This option requires the use of the State option to avoid ambiguity. \n * Free Form Text Search - A\
        \ search for words or phrases can be performed against the articles matching any of the previous options listed. \n\
        \ * Significance - Articles are classified by their significance. A highly significant article is one that is alert\
        \ worthy whereas less significant articles are more relevant when performing research. This option will filter the\
        \ results returned by the previous options listed. \n \n\n The following is an example of using the API. \n\n To query\
        \ for the economic news about Irvine, California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?state=ca&city=irvine&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\"\
        : 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n\
        \ \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\":\
        \ [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\"\
        \ : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\"\
        : [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\"\
        ,\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response\
        \ is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"\
        san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleEconSearchUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: state
        in: query
        description: State (code) to retrieve municipal and economic news for.
        required: true
        type: string
        allowEmptyValue: false
        x-example: CA
      - name: city
        in: query
        description: City to retrieve municipal and economic news for.
        required: false
        type: string
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/filings/financial/submissions:
    get:
      tags:
      - Filings API
      summary: Financial Filings Submissions Search
      description: "Returns the submission with the given key. The key is a unique identifier that can be found in the response\
        \ to the Get Summaries call. This call will download a compressed file holding the individual files from the original\
        \ submission. Based on the Accept header provided by the client, the download file will either be a gzipped tar file\
        \ (application/x-gzip) or a zip file (application/zip and the default).  An example of downloading a gzipped submission\
        \ is \r\n\r\n```js\n GET https://api.bitvore.com/v2/corp/filings/financial/submissions/060000016b9045f018c6e719ba884ef6605ccf6503a4733cf377651c\n\
        \ ```\n A sample successful response will be a gzipped tar file of the files from the original submission. If the\
        \ submission was made to the SEC html files (with accompanying images) as well as a master text file will be included."
      operationId: downloadFilingsUsingGET_1
      produces:
      - application/x-gzip
      - application/zip
      parameters:
      - name: filingType
        in: query
        description: Types of filings to return
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: bvId
        in: query
        description: Organizations of filings to return
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: includeSummary
        in: query
        description: Value of true will return a summary file with the filing files
        required: false
        type: boolean
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for in the filings.
        required: false
        type: string
        allowEmptyValue: false
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default
          only the organization's Id and name is returned. Available options are name, domainName, ticker, city, state, country
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: startDate
        in: query
        description: Filing date to start from. Format is yyyy-mm-dd for daily filings or yyyy-mm-dd'T'HH:mm if you want it
          down to the hour or minute. Should not be used if offset parameter is.
        required: false
        type: string
        allowEmptyValue: false
      - name: endDate
        in: query
        description: Filing date to end with. Format is yyyy-mm-dd for daily (inclusive) filings or yyyy-mm-dd'T'HH:mm if
          you want it down to the hour or minute. If startDate is used and endDate is not the default endDate is today.
        required: false
        type: string
        allowEmptyValue: false
      - name: offset
        in: query
        description: Number of days back filings should be returned for. Should not be used with startDate. Default is 31.
        required: false
        type: integer
        format: int32
        allowEmptyValue: false
      - name: tz
        in: query
        description: Timezone used in startDate and endDate.
        required: false
        type: string
        default: GMT
        allowEmptyValue: false
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be submission dates "submitted" or available dates (processing
          completed) "available". Default is submitted.
        required: false
        type: string
        default: submitted
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 200.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InputStreamResource'
            originalRef: InputStreamResource
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: true
  /v2/corp/filings/financial/submissions/{filingId}:
    get:
      tags:
      - Filings API
      summary: Financial Filing Submission
      description: "Returns full submission for the financial filing by filing id. This API operation is a file download operation.\
        \ This call will download a compressed file holding the individual files from the original submission. Based on the\
        \ Accept header provided by the client, the download file will either be a gzipped tar file (application/x-gzip) or\
        \ a zip file (application/zip and the default). \r\n\r\nThe following are some examples of using the API. \n\n To\
        \ query for the filings submitted by IBM, BvID b00001ab7 within the last 30 days in the PST timezone using gzip compression\
        \ (using query param for api key): \r\n\r\n```js\n GET https://api.bitvore.com/v2/corp/filings/financial/submissions/70858-000148105721004046&key=xyz123\n\
        \ ```\n \r\n\r\n"
      operationId: downloadFilingUsingGET_1
      produces:
      - application/x-gzip
      - application/zip
      parameters:
      - name: filingId
        in: path
        description: The Id of the filing
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InputStreamResource'
            originalRef: InputStreamResource
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: true
  /v2/corp/filings/financial/summaries:
    get:
      tags:
      - Filings API
      summary: Financial Filing Summaries Search
      description: "Returns summary information for the financial filings that meet the supplied criteria. Financial filings\
        \ can be selected with the following options:  \n * Filing Type - Type of filing, i.e., 8-K, 10-Q, etc.\n * Bitvore\
        \ ID - A Bitvore ID, known as a BvID, uniquely identifies a company/organization. Querying by BvID returns only filings\
        \ submitted by that company.\n * Free Form Text Search - A search for words or phrases can be performed against the\
        \ filings matching any of the previous options listed. \n * Org Field - By default the subject company of a filing\
        \ is identified by its ID and its name. Additional fields will be returned for each company if specified here. The\
        \ available options are name, domainName, ticker, city, state, and country. If available the additional fields will\
        \ be returned in the Org object in the summary. Note: Returning additional fields may cause a small increase in latency.\
        \ \n \r\n\r\nThe following are some examples of using the API. \r\n\r\nTo query for the filings submitted by IBM,\
        \ BvID b00001ab7 within the last 30 days in the PST timezone (using query param for api key): \r\n\r\n```js\n GET\
        \ https://api.bitvore.com/v2/corp/filings/financial/summaries?bvId=b00001ab7&offset=30&tz=PST&key=xyz123\n ```\n \r\
        \n\r\nTo query for all the 10-Q filings submitted within the last 30 days in the PST timezone: \r\n\r\n```js\n GET\
        \ https://api.bitvore.com/v2/corp/filings/financial/summaries?filingType=10-Q&offset=30&tz=PST&key=xyz123\n ```\n\
        \ \r\n\r\nThe filing summaries are essentially a set of metadata about the filings themselves. The metadata fields\
        \ are: \n * Key - A unique string identifying the submission in the Bitvore system. \n * Filing Type - The type of\
        \ filing (i.e., 8-K, 10-Q, etc.). \n * Title - Title of the filing as reported by the regulatory agency. \n * Source\
        \ URL - A URL to the filing provided by the regulatory agency. \n * Text - A text representation of the filing. For\
        \ SEC filings this will be the text of the primary filing document only. * Org - A structure that holds identifying\
        \ information about the company the filing is about. By default the structure will have the Bitvore ID and name of\
        \ the company. Other fields may be included based on the Org Field parameter. \n * Available At - The date at which\
        \ the filing was made available by the system. \n * Published At - The date the filing was submitted to the regulatory\
        \ agency. \n \r\n\r\nA sample successful response is: \r\n\r\n```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n\
        \ \t\"total\": 1,\n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"040000016b8b62e290bcb7e16fcb95b79000ad663679cbdb8566671c\"\
        ,\n \t\t\t\"filingId\": \"70858-000148105721004046\",\n \t\t\t\"filingType\": \"8-K\",\n \t\t\t\"files\": [\"https://www.sec.gov/Archives/edgar/data/70858/000148105721004046/form424b2.htm\"\
        , \"https://www.sec.gov/Archives/edgar/data/70858/000148105721004046/image_cover.jpg\"],\n \t\t\t\"title\": \" 8-K\
        \ - BlueLinx Holdings Inc. (0001301787) (Filer)\",\n \t\t\t\"sourceUrl\": \"https://www.sec.gov/Archives/edgar/data/1301787/000130178719000056/0001301787-19-000056-index.htm\"\
        ,\n \t\t\t\"org\": { \"BvId\" : \"b0004hvv7\", \"Name\" : \"BlueLinx Holdings Inc\" }, \n \t\t\t\"publishedAt\": \"\
        2019-06-24T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-24T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n "
      operationId: getFilingsUsingGET_1
      produces:
      - application/json
      parameters:
      - name: filingType
        in: query
        description: Types of filings to return
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: bvId
        in: query
        description: Organizations of filings to return
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for in the filings.
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: Filing date to start from. Format is yyyy-mm-dd for daily filings or yyyy-mm-dd'T'HH:mm if you want it
          down to the hour or minute. Should not be used if offset parameter is.
        required: false
        type: string
        allowEmptyValue: false
      - name: endDate
        in: query
        description: Filing date to end with. Format is yyyy-mm-dd for daily (inclusive) filings or yyyy-mm-dd'T'HH:mm if
          you want it down to the hour or minute. If startDate is used and endDate is not the default endDate is today.
        required: false
        type: string
        allowEmptyValue: false
      - name: offset
        in: query
        description: Number of days back filings should be returned for. Should not be used with startDate. Default is 31.
        required: false
        type: integer
        format: int32
        allowEmptyValue: false
      - name: tz
        in: query
        description: Timezone used in startDate and endDate.
        required: false
        type: string
        default: GMT
        allowEmptyValue: false
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be submission dates "submitted" or available dates (processing
          completed) "available". Default is submitted.
        required: false
        type: string
        default: submitted
        allowEmptyValue: false
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default
          only the organization's Id and name is returned. Available options are name, domainName, ticker, city, state, country
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FinancialFilingsSearchResponse'
            originalRef: FinancialFilingsSearchResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/filings/financial/{filingId}:
    get:
      tags:
      - Filings API
      summary: Financial Filing
      description: "Returns a specific financial filing by id. \r\n\r\n```js\n GET https://api.bitvore.com/v2/corp/filings/financial/70858-000148105721004046&key=xyz123\n\
        \ ```\n \r\n\r\nA sample successful response is: \r\n\r\n```js\n \t{\n \t\t\"key\": \"040000016b8b62e290bcb7e16fcb95b79000ad663679cbdb8566671c\"\
        ,\n \t\t\"filingId\": \"70858-000148105721004046\",\n \t\t\"filingType\": \"8-K\",\n \t\t\"files\": [\"https://www.sec.gov/Archives/edgar/data/70858/000148105721004046/form424b2.htm\"\
        , \"https://www.sec.gov/Archives/edgar/data/70858/000148105721004046/image_cover.jpg\"],\n \t\t\"title\": \" 8-K -\
        \ BlueLinx Holdings Inc. (0001301787) (Filer)\",\n \t\t\"sourceUrl\": \"https://www.sec.gov/Archives/edgar/data/1301787/000130178719000056/0001301787-19-000056-index.htm\"\
        ,\n \t\t\"org\": { \"BvId\" : \"b0004hvv7\", \"Name\" : \"BlueLinx Holdings Inc\" }, \n \t\t\"publishedAt\": \"2019-06-24T21:41:19.109Z\"\
        ,\n \t\t\"availableAt\": \"2017-06-24T21:41:21.109Z\",\n \t}\n ```\n "
      operationId: getFilingUsingGET
      produces:
      - '*/*'
      parameters:
      - name: filingId
        in: path
        description: The Id of the filing
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FinancialFiling'
            originalRef: FinancialFiling
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news:
    get:
      tags:
      - News API
      summary: Corporate News
      description: "Provides a simple GET oriented corporate news search capability. The search criteria used when querying\
        \ news includes the following options specified as query parameters which can used together to refine the search results:\
        \ \n * Bitvore ID - A Bitvore ID, known as a BvID, uniquely identifies a company/organization. Querying by BvID returns\
        \ only news articles where the identified company is an actor in the story.\n * Signal - An article can be classified\
        \ by one or more signals indicating that the article describes an event, or events, identified in the Bitvore Signal\
        \ taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring.\
        \ Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy\
        \ will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals\
        \ currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form\
        \ Text Search - A search for words or phrases can be performed against the articles matching any of the previous options\
        \ listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n\
        \ * Significance - Articles are classified by their significance. A highly significant article is one that is alert\
        \ worthy whereas less significant articles are more relevant when performing research. This option will filter the\
        \ results returned by the previous options listed. \n * Similarity - Indicates which (if any) similar articles should\
        \ be returned, options are \n \"Usage\" and \"None\", default is \"None\". \"Usage\" indicates similar articles can\
        \ be returned if they \n have different usage restrictions. In other word with this option two similar articles can\
        \ be returned \n if one is FullUse and the other is FairUse. \n * Org Field - By default each company referenced in\
        \ an article is identified by its ID and its name. Additional fields will be returned for each company if specified\
        \ here. The available options are name, domainName, ticker, city, state, and country. If available the additional\
        \ fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the article.\
        \ Note: Returning additional fields may cause a small increase in latency. \n \n\n The following are some examples\
        \ of using the API. \n\n To query for M&A news between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?signal=MergerAcquisition&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above\
        \ are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n\
        \ * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n A sample\
        \ successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\"\
        : [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\"\
        : \"News\",\n \t\t\t\"title\": \"ACME aquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\"\
        : \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\"\
        ,\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"\
        signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\"\
        , \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t\
        ],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n\
        \ \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\"\
        \ } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\"\
        \ : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\
        \t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n \n\n Each article returned may have one or more groups of referenced articles. The referencedOrgs\
        \ property holds the list of companies that were directly mentioned in the article and were considered the primary\
        \ actors. In this example the article was about ACME merging with Wile E. Coyote which were considered the primary\
        \ actors. \n\n If there is more than one primary actor in an article it is often the case that only a subset of those\
        \ actors were in the original scope of the input query (bvIds or portfolio). The matchedArticleOrgs will hold that\
        \ subset of primary actors which were part of the input query. The system will look for articles about subsidiaries\
        \ of the companies in the original scope of the input query as well. When a subsidiary is the primary actor of a returned\
        \ article it will be in the referencedOrgs and matchedArticlesOrg field, but the parent company that was specified\
        \ in the query will be returned in the matchedOrgs property. \n\n In this example the original query was for articles\
        \ about A Company Manufacturing Everything. The system found this article about its child company ACME. Therefore\
        \ matchedArticleOrgs lists ACME and matchedOrgs lists A Company Manufacturing Everything which was in the original\
        \ query. \n\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad bvId\
        \ found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleNewsSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: bvIds
        in: query
        description: One or more Bitvore Ids identifying entities to retrieve news for.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - News
        - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default
          is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        type: string
        default: None
        allowEmptyValue: false
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default
          only the organization's Id and name is returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - name
        - domainName
        - ticker
        - city
        - state
        - country
        - cusip
        - figi
        - isin
        - sedol
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CorpNewsResultsResponse'
            originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - News API
      summary: Advanced Corporate News Query
      description: "Provides an advanced corporate news search capability. The search criteria used when querying news includes\
        \ a more advanced approach to identifying the company, or organization, scope of the news to return as well as the\
        \ other content oriented options listed above. The following are the options supported for identifying the organization\
        \ scope: \n * Bitvore ID - A Bitvore ID, known as a BvID, uniquely identifies a company/organization. Querying by\
        \ BvID returns only news articles where the identified company is an actor in the story.\n * Portfolio - A portfolio\
        \ is made up of one or more companies (BvIDs). Querying by portfolio returns only articles where at least one of the\
        \ companies in the portfolio are an actor in the article. This option cannot be used with the BvID or Foreign ID options.\
        \ \n * Foreign ID - If the Identification API is used to map BvIDs to ID's foreign to the Bitvore system the ID's\
        \ mapped to BvIDs are considered foreign ID's which can be used using this parameter instead of a BvID. This option\
        \ cannot be used with the BvID or Portfolio options. \n * Employees - Returns all articles referencing companies with\
        \ an estimated number of employees that falls within a specified range using the format of lower-upper, i.e. 50-250.\
        \ The upper bound may be omitted (50-) to indicate an unbounded range. The ranges must be defined using the predefined\
        \ measurements: 1, 10, 50, 100, 250, 500, 1000, 5000, 10000. This option cannot be used with the BvID, Foreign ID,\
        \ or Portfolio options. Note: On 1/11/2020 the range boundary of 200 was replaced by 100 and 250 and will be no longer\
        \ supported on 7/1/2020. \n * Revenue - Returns all articles referencing companies with an estimated revenue that\
        \ falls within a specified range using the format of lower-upper, i.e. 500-1000. The upper bound may be omitted (500-)\
        \ to indicate an unbounded range. The ranges must be defined using the predefined measurements:  0, 1, 10, 50, 100,\
        \ 500, 1000, 10000. This option cannot be used with the BvID, Foreign ID, or Portfolio options. Note: On 1/11/2020\
        \ the range boundary of 200 was replaced with 500 and will be no longer supported on 7/1/2020. \n * NAICS Industry\
        \ - Returns all articles referencing companies operating within the industry identified by the specified [NAICS](https://www.naics.com/search/)\
        \ code. \n * SIC Industry - Returns all articles referencing companies operating within the industry identified by\
        \ the specified [SIC](https://www.osha.gov/pls/imis/sicsearch.html) code. \n * HQ Location - Returns all articles\
        \ referencing companies whose headquarters is located in the specified location. The location is in the format of\
        \ city/state/country, i.e., Los Angeles/California/United States. \n * HQ FIPS Area - Returns all articles referencing\
        \ companies whose headquarters is located in the county or CBSA identified by the given FIPS code. FIPS codes for\
        \ counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs\
        \ can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps\
        \ of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n \n\n The\
        \ following content oriented query options are also supported: \n * Signal - An article can be classified by one or\
        \ more signals indicating that the article describes an event, or events, identified in the Bitvore Signal taxonomy.\
        \ The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring.\
        \ Querying by signal returns only articles classified by the given signal. All child signals in the signal hierarchy\
        \ will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals\
        \ currently supported can be found [here](https://api.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text\
        \ Search - A search for words or phrases can be performed against the articles matching any of the previous options\
        \ listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n\
        \ * Significance - Articles are classified by their significance. A highly significant article is one that is alert\
        \ worthy whereas less significant articles are more relevant when performing research. This option will filter the\
        \ results returned by the previous options listed. \n * Usage - A news article may have licensing restrictions placed\
        \ on it. To filter search \n results to only fair use content specify \"FairUse\" for the Usage option. To filter\
        \ results to only \n commercially licensed content that grants full use of the content specify \"FullUse\" for the\
        \ Usage option. \n Specifying \"All\", which is the default option, does not filter the results at all. \n * Org Field\
        \ - By default each company referenced in an article is identified by its ID and its name. Additional fields will\
        \ be returned for each company if specified here. The available options are name, domainName, ticker, city, state,\
        \ and country. If available the additional fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs,\
        \ and MatchedArticleOrgs) in the article. Note: Returning additional fields may cause a small increase in latency.\n\
        \ \n\n The following are some examples of using the API. \n\n To query for the news about IBM, BvID b00001ab7, published\
        \ within the last 3 days in the PST timezone (using HTTP header for api key): \n\n ```js\n POST https://api.bitvore.com/v2/corp/news\
        \ \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"orgScope\": { \n \t\t\"ids\": [\"b00001ab7\"\
        ], \n \t\t\"orgIdScheme\": \"BVID\" \n \t}, \n \t\"startDate\": \"2018-07-01T09:00:00.000+07:00\", \n \t\"endDate\"\
        : \"2018-07-03T23:59:59.999+07:00\" \n } \n ```\n \n\n To query for the news about all executive changes between 9:00AM\
        \ PST 7/1/2018 and 5:00PM PST on 7/31/2018: \n\n ```js\n POST https://api.bitvore.com/v2/corp/news \n Accept: application/json\n\
        \ X-BV-APIKEY: xyz123... \n\n { \n \t\"signal\": [\"ExecutiveChanges\"], \n \t\"startDate\": \"2018-07-01T09:00:00.000+07:00\"\
        , \n \t\"endDate\": \"2018-07-31T17:00:00.000+07:00\" \n } \n ```\n \n\n To query for the news about a companies with\
        \ annual revenue between 50M and 100M in the last 30 days: \n\n ```js\n POST https://api.bitvore.com/v2/corp/news\
        \ \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"orgScope\": { \n \t\t\"revRange\": \"50-100\"\
        \ \n \t}, \n \t\"startDate\": \"2018-07-01T09:00:00.000Z\", \n \t\"endDate\": \"2018-07-31T17:00:00.000Z\" \n } \n\
        \ ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above\
        \ are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n\
        \ * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n Example\
        \ Response: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\": [\n \t\t\
        {\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\": \"News\"\
        ,\n \t\t\t\"title\": \"ACME acquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\"\
        : \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\"\
        ,\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"\
        signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\"\
        , \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t\
        ],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n\
        \ \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\"\
        \ } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\"\
        \ : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\
        \t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n "
      operationId: handleCorpAdvancedSearchUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/CorporateNewsRequest'
          originalRef: CorporateNewsRequest
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CorpNewsResultsResponse'
            originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news/byKey/enriched:
    post:
      tags:
      - News API
      summary: Enriched Record by Record Key
      operationId: handleGetEnrichedRecordUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: recordKeys
        description: Record Keys to retrieve enriched news for.
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EnrichedRecordsResponse'
            originalRef: EnrichedRecordsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news/byKey/{recordKey}/enriched:
    get:
      tags:
      - News API
      summary: Enriched Record by Record Key
      operationId: handleGetEnrichedRecordUsingGET
      produces:
      - '*/*'
      parameters:
      - name: recordKey
        in: path
        description: Record Key to retrieve enriched news for.
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EnrichedRecordsResponse'
            originalRef: EnrichedRecordsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news/byid:
    get:
      tags:
      - News API
      summary: Corporate News by Organization Id
      description: "Provides a simple GET oriented corporate news search capability. The search criteria used when querying\
        \ news includes the following options specified as query parameters which can used together to refine the search results:\
        \ \n * Organization Id - An ID that uniquely identifies a company/organization. Querying by ID returns only news articles\
        \ where the identified organization is an actor in the story. The organization's primary ID is always a BvID, however,\
        \ if using an alternate ID, it will also be returned along with the organization. \n * Org Id Scheme - The type of\
        \ Id being used. Can be BvID, CUSIP, FIGI, ISIN or SEDOL. Certain IDs require a valid license. \n * Signal - An article\
        \ can be classified by one or more signals indicating that the article describes an event, or events, identified in\
        \ the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy,\
        \ i.e., Labor.Hiring. Querying by signal returns only articles classified by the given signal. All child signals in\
        \ the signal hierarchy will also be returned. For example querying for Labor will return Labor.Hiring and Labor.Strike\
        \ articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n\
        \ * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the\
        \ previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types\
        \ are returned.\n * Significance - Articles are classified by their significance. A highly significant article is\
        \ one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n * Similarity - Indicates which (if any) similar\
        \ articles should be returned, options are \n \"Usage\" and \"None\", default is \"None\". \"Usage\" indicates similar\
        \ articles can be returned if they \n have different usage restrictions. In other word with this option two similar\
        \ articles can be returned \n if one is FullUse and the other is FairUse. \n * Org Field - By default each company\
        \ referenced in an article is identified by its ID and its name. Additional fields will be returned for each company\
        \ if specified here. The available options are name, domainName, ticker, city, state, and country. If available the\
        \ additional fields will be returned in the Org objects (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the\
        \ article. Note: Returning additional fields may cause a small increase in latency. \n \n\n The following are some\
        \ examples of using the API. \n\n To query for M&A news between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?signal=MergerAcquisition&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above\
        \ are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n\
        \ * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n A sample\
        \ successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\"\
        : [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\"\
        : \"News\",\n \t\t\t\"title\": \"ACME aquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\"\
        : \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\"\
        ,\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"\
        signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\"\
        , \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t\
        ],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n\
        \ \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\"\
        \ } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\"\
        \ : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\
        \t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n \n\n Each article returned may have one or more groups of referenced articles. The referencedOrgs\
        \ property holds the list of companies that were directly mentioned in the article and were considered the primary\
        \ actors. In this example the article was about ACME merging with Wile E. Coyote which were considered the primary\
        \ actors. \n\n If there is more than one primary actor in an article it is often the case that only a subset of those\
        \ actors were in the original scope of the input query (bvIds or portfolio). The matchedArticleOrgs will hold that\
        \ subset of primary actors which were part of the input query. The system will look for articles about subsidiaries\
        \ of the companies in the original scope of the input query as well. When a subsidiary is the primary actor of a returned\
        \ article it will be in the referencedOrgs and matchedArticlesOrg field, but the parent company that was specified\
        \ in the query will be returned in the matchedOrgs property. \n\n In this example the original query was for articles\
        \ about A Company Manufacturing Everything. The system found this article about its child company ACME. Therefore\
        \ matchedArticleOrgs lists ACME and matchedOrgs lists A Company Manufacturing Everything which was in the original\
        \ query. \n\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad bvId\
        \ found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleNewsSearchUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: ids
        in: query
        description: Organization Id
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: idScheme
        in: query
        description: Organization Id Scheme
        required: false
        type: string
        default: BVID
        allowEmptyValue: false
        enum:
        - BVID
        - CUSIP
        - ISIN
        - SEDOL
        - FIGI
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - News
        - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default
          is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        type: string
        default: None
        allowEmptyValue: false
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default
          only the organization's Id and name is returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - name
        - domainName
        - ticker
        - city
        - state
        - country
        - cusip
        - figi
        - isin
        - sedol
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CorpNewsResultsResponse'
            originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/news/byportfolio:
    get:
      tags:
      - News API
      summary: Corporate News by Portfolio
      description: "Provides a simple GET oriented corporate news search capability. The search criteria used when querying\
        \ news includes the following options specified as query parameters which can used together to refine the search results:\
        \ \n * Portfolio - A portfolio is made up of one or more companies (BvIDs). Querying by portfolio returns only articles\
        \ where at least one of the companies in the portfolio are an actor in the article. This option cannot be used with\
        \ the BvID or Foreign ID options. \n * Signal - An article can be classified by one or more signals indicating that\
        \ the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical\
        \ and signal values are '.' encoded to represent that hierarchy, i.e., Labor.Hiring. Querying by signal returns only\
        \ articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For example\
        \ querying for Labor will return Labor.Hiring and Labor.Strike articles. The signals currently supported can be found\
        \ [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form Text Search - A search for words\
        \ or phrases can be performed against the articles matching any of the previous options listed. \n * Article Type\
        \ - Type of articles to return, News or PressRelease. By default all types are returned.\n * Significance - Articles\
        \ are classified by their significance. A highly significant article is one that is alert worthy whereas less significant\
        \ articles are more relevant when performing research. This option will filter the results returned by the previous\
        \ options listed. \n * Similarity - Indicates which (if any) similar articles should be returned, options are \n \"\
        Usage\" and \"None\", default is \"None\". \"Usage\" indicates similar articles can be returned if they \n have different\
        \ usage restrictions. In other word with this option two similar articles can be returned \n if one is FullUse and\
        \ the other is FairUse. \n * Org Field - By default each company referenced in an article is identified by its ID\
        \ and its name. Additional fields will be returned for each company if specified here. The available options are name,\
        \ domainName, ticker, city, state, and country. If available the additional fields will be returned in the Org objects\
        \ (ReferencedOrgs, MatchedOrgs, and MatchedArticleOrgs) in the article. Note: Returning additional fields may cause\
        \ a small increase in latency. \n \n\n The following are some examples of using the API. \n\n To query for the news\
        \ about a portfolio between 1:00 and 2:00 PM PST on 7/1/2018 (using HTTP header for api key): \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?portfolioId=12345&startDate=2018-07-01T13:00:00.000+07:00&endDate=2018-07-01T14:00:00.000+07:00\n\
        \ ```\n \n\n To query for M&A news between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/news?signal=MergerAcquisition&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n The metadata tags of articles returned specific to corporate news in addition to the common tags above\
        \ are: \n * Signals - 0 or more signals detected in the article encoded with '.' notation such as Labor.Hiring. \n\
        \ * Referenced Orgs - 0 or more BvID/Name combinations identifying companies discussed in the article. \n \n\n A sample\
        \ successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1,\n \t\"response\"\
        : [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\"articleType\"\
        : \"News\",\n \t\t\t\"title\": \"ACME aquires Wile E. Coyote\",\n \t\t\t\"sourceName\": \"acme.com\",\n \t\t\t\"sourceUrl\"\
        : \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\",\n \t\t\t\"previewImageUrl\": \"http://acme.com/resources/coyote.jpg\"\
        ,\n \t\t\t\"excerpt\": \"The ACME corporation has completed the merger with Wile E. Coyote today ...\",\n \t\t\t\"\
        signals\": [\"MergeAcquisition.AcquisitionComplete\"],\n \t\t\t\"referencedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\"\
        , \"name\" : \"ACME Corp\" }, \n \t\t\t\t{ \"bvId\" : \"a00001aab\", \"name\" : \"Wile E. Coyote Inc\" } \n \t\t\t\
        ],\n \t\t\t\"matchedArticleOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aaa\", \"name\" : \"ACME Corp\" } \n \t\t\t],\n\
        \ \t\t\t\"matchedOrgs\": [ \n \t\t\t\t{ \"bvId\" : \"a00001aac\", \"name\" : \"A Company Manufacturing Everything\"\
        \ } \n \t\t\t],\n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"sentiment\" : 0.22555919, \n \t\t\t\"esgSentiment\"\
        \ : 0.78078979, \n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\
        \t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n \n\n Each article returned may have one or more groups of referenced articles. The referencedOrgs\
        \ property holds the list of companies that were directly mentioned in the article and were considered the primary\
        \ actors. In this example the article was about ACME merging with Wile E. Coyote which were considered the primary\
        \ actors. \n\n If there is more than one primary actor in an article it is often the case that only a subset of those\
        \ actors were in the original scope of the input query (bvIds or portfolio). The matchedArticleOrgs will hold that\
        \ subset of primary actors which were part of the input query. The system will look for articles about subsidiaries\
        \ of the companies in the original scope of the input query as well. When a subsidiary is the primary actor of a returned\
        \ article it will be in the referencedOrgs and matchedArticlesOrg field, but the parent company that was specified\
        \ in the query will be returned in the matchedOrgs property. \n\n In this example the original query was for articles\
        \ about A Company Manufacturing Everything. The system found this article about its child company ACME. Therefore\
        \ matchedArticleOrgs lists ACME and matchedOrgs lists A Company Manufacturing Everything which was in the original\
        \ query. \n\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad bvId\
        \ found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handlePortfolioNewsSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: query
        description: Id identifying a portfolio to retrieve news for.
        required: true
        type: integer
        format: int64
        allowEmptyValue: false
      - name: articleType
        in: query
        description: One or more types of articles to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - News
        - PressRelease
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''Corporate, Market & Industry'' and/or ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: themes
        in: query
        description: 'One or more themes. (Requires license: ''Themes'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news when not using a portfolio
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default
          is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        type: string
        default: None
        allowEmptyValue: false
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default
          only the organization's Id and name is returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
        enum:
        - name
        - domainName
        - ticker
        - city
        - state
        - country
        - cusip
        - figi
        - isin
        - sedol
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CorpNewsResultsResponse'
            originalRef: CorpNewsResultsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/byid/{id}:
    get:
      tags:
      - Organizations API
      summary: Organization by Alt-Id
      description: "Returns detailed information about the organization with the given Bitvore ID or Alternate ID. The following\
        \ are the supported ID Scheme parameters: \n\n * BVID - Bitvore ID (default) \n * CUSIP - Requires license: 'CUSIP'\
        \ \n * FIGI \n * ISIN - Requires license: 'ISIN' \n * SEDOL - Requires license: 'SEDOL' \n \n\n Example Request: \n\
        \n \n\n ```js\n GET https://api.bitvore.com/v2/corp/organizations/byid/BBG001S5TD05?orgIdScheme=FIGI\n ```\n \n\n "
      operationId: handleGetOrgUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: Organization Id
        required: false
        type: string
      - name: idScheme
        in: query
        description: Organization Id Scheme
        required: false
        type: string
        default: BVID
        allowEmptyValue: false
        enum:
        - BVID
        - CUSIP
        - ISIN
        - SEDOL
        - FIGI
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrganizationDetails'
            originalRef: OrganizationDetails
        '400':
          description: Invalid parameter
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/lookup:
    get:
      tags:
      - Organizations API
      summary: Organization Search
      description: "A lookup takes a single string as input to matching entities. The following are the matching rules used.\
        \ The search results are ordered according to the rules. \n\n 1. Exact match on name (case insensitive)\n 2. Exact\
        \ match on ticker\n 3. Exact match on domain name\n 4. Exact match on alias (case insensitive)\n 5. Starts with on\
        \ name (case insensitive)\n 6. Starts with on ticker\n 7. Starts with on domain name\n 8. Starts with on alias (case\
        \ insensitive)\n \n\n Example Request: \n\n \n\n ```js\n GET https://api.bitvore.com/v2/corp/organizations/search?q=acme\n\
        \ ```\n \n\n \n\n 0 or more companies may be returned that match the supplied query criteria. Only summary information\
        \ for each matching organization is supplied which includes the following fields: \n\n * ID \n * Name \n * Domain\
        \ Name \n * Ticker \n * State \n * Country \n * Parent \n "
      operationId: handleOrgLookupUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: q
        in: query
        description: Lookup option. Value is used to match multiple fields.
        required: false
        type: string
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrgResultsResponse'
            originalRef: OrgResultsResponse
        '400':
          description: Invalid parameter
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/match:
    post:
      tags:
      - Organizations API
      summary: Organization Matching
      description: "Attempts to find companies matching input specifications made up of a list of property values. Multiple\
        \ companies can be matched in a single call. For each organization to match a list of properties and values known\
        \ by the client (the input specification) are passed in. If possible the system will return a single matching organization\
        \ for each input specification. If more than one organization matches an input specification and there is not one\
        \ organization that is more qualified than the others all the candidates will be returned. The following are the organization\
        \ properties that can be used in input specifications. More than one value can be supplied for each indicating a match\
        \ of any of the values will be acceptable. \n * Name \n * DomainName \n * Ticker \n * CUSIP - Requires license: 'CUSIP'\
        \ \n * FIGI \n * ISIN - Requires license: 'ISIN' \n * SEDOL - Requires license: 'SEDOL' \n * NAICSCode \n * SICCode\
        \ \n * City \n * StateCode \n * Country \n \n\n Tickers formats: \n * Nonqualified - Basic ticker symbol (e.g. T,\
        \ XOM) \n * Region Qualified - &lt;region&gt;:&lt;ticker&gt; (e.g. US:T, US:XOM) \n * Exchange Qualified - &lt;exchange&gt;:&lt;ticker&gt;\
        \ (e.g. NYS:T, NAS:XOM) \n \n\n In the following example we'll try to match two companies. In this case they will\
        \ actually be companies with the same name but by using different properties in the specifications we can see how\
        \ the system matches differently. The first specification will include the organization name and the state it's in.\
        \ The second specification will include the organization name and its domain name. \n\n \n\n ```js\n POST https://api.bitvore.com/v2/corp/organizations/match\
        \ \n Content-Type: application/json \n Accept: application/json \n X-BV-APIKEY: xyz123... \n\n [ \n \t{ \n \t\t\"\
        Name\": [\"Bank of Commerce\"], \n \t\t\"State\": [\"Oklahoma\"] \n \t}, \n \t{ \n \t\t\"Name\": [\"Bank of Commerce\"\
        ], \n \t\t\"DomainName\": [\"bocokonline.com\"] \n \t} \n ] \n ```\n \n\n \n\n The first set of candidates is returned\
        \ for the name/state combination. There are three companies with the input name and state code. Since that is the\
        \ only input the system could not narrow the candidates down any further. \n\n The second set of candidates is returned\
        \ for the same name but with a domain name instead of a state code. This input specification matched only one organization\
        \ in the system which is returned. \n\n The properties that were matched for each candidate are returned in the \"\
        hits\" field. These will match the input specification properties. However, when matching names the system will attempt\
        \ to match the input name against the organization's names in the Knowledge Graph as well as any known aliases for\
        \ companies. If the input name matched an alias instead of a organization name the \"Alias\" property will be returned\
        \ in \"hits\"."
      operationId: handleOrgMatchingUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: specs
        description: specs
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/OrgSpec'
            originalRef: OrgSpec
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SingleOrganizationMatchingResult'
            originalRef: SingleOrganizationMatchingResult
        '400':
          description: Invalid parameter
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/AccessDeniedResponse'
            originalRef: AccessDeniedResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/InternalErrorResponse'
            originalRef: InternalErrorResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/corp/organizations/search:
    post:
      tags:
      - Organizations API
      summary: Organization Search
      description: "A search query takes one or more search parameters. A parameter has a name and one or more values. The\
        \ search will match the organization properties and relationships with the parameters and return only those that have\
        \ an EXACT match on all input parameters. The following are the supported search parameters: \n\n * name - One or\
[...]
