openapi: 3.2.0
info:
  description: '## Precision News API


    The Precision News APIs provide access to curated news annotated with metadata tags.'
  version: '1.0'
  title: Bitvore Legacy Corporate News API
  license:
    name: Copyright Bitvore Corp. 2026
servers:
- url: https://api.bitvore.com/
tags:
- name: Corporate News
  description: Corp News API
paths:
  /corpnews:
    get:
      tags:
      - Corporate News
      summary: Corporate News Query
      description: Provides a simple GET oriented corporate news search capability.
      operationId: handleCorpSimpleSearchUsingGET
      parameters:
      - name: bvId
        in: query
        description: One or more Bitvore Iss identifying entities to retrieve news for, should not be used with the portfolio or foreignId parameters.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: portfolioId
        in: query
        description: Id identifying a portfolio to retrieve news for, should not be used with the bvId or foreignId parameters.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: signal
        in: query
        description: One or more signals (i.e., Bankruptcy, Labor.Hiring) to restrict the returned news to.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: theme
        in: query
        description: One or more themes (i.e., Brexit, TradeWar) to restrict the returned news to.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: text
        in: query
        description: Keyword or phrase to search for news when not using a portfolio
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: foreignId
        in: query
        description: One or more Foreign IDs identifying the entities to retrieve news for, the IDs must be registered in an identification scheme associated with the API client. Should not be used with the bvId or portfolio parameters.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: startDate
        in: query
        description: News date to start from. Format is yyyy-mm-dd for daily news or yyyy-mm-dd'T'HH:mm if you want it down to the hour or minute. Should not be used if offset parameter is.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: endDate
        in: query
        description: News date to end with. Format is yyyy-mm-dd for daily (inclusive) news or yyyy-mm-dd'T'HH:mm if you want it down to the hour or minute. If startDate is used and endDate is not the default endDate is today.
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: offset
        in: query
        description: Number of days back news should be returned for. Should not be used with startDate. Default is 31.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
      - name: tz
        in: query
        description: Timezone used in startDate and endDate.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: GMT
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: published
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: HIGH
      - name: similarity
        in: query
        description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        required: false
        allowEmptyValue: false
        schema:
          type: string
          default: None
      - name: orgField
        in: query
        description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned.
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpNewsSearchResponseLegacy'
                originalRef: CorpNewsSearchResponseLegacy
        '401':
          description: Unauthorized to view intelligence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - Corporate News
      summary: Advanced Corporate News Query
      description: Provides an advanced corporate news search capability.
      operationId: handleCorpAdvancedSearchUsingPOST
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpNewsSearchResponseLegacy'
                originalRef: CorpNewsSearchResponseLegacy
        '401':
          description: Unauthorized to view intelligence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateNewsRequestLegacy'
              originalRef: CorporateNewsRequestLegacy
        description: request
        required: true
components:
  schemas:
    OrganizationReference:
      type: object
      properties:
        bvId:
          type: string
          example: b00001ab7
          description: Bitvore Id of the organization
        city:
          type: string
          example: IRVINE
          description: City the organization is headquartered in.
        country:
          type: string
          example: UNITED STATES
          description: Country the organization is headquartered in.
        domainName:
          type: string
          example: acme.com
          description: Domain name of the organization.
        factsetId:
          type: string
          example: 000DWY-E
          description: 'FactSet ID of the organization. (Requires License: ''FACTSET_ID'')'
        isin:
          type: string
          example: US5949181045
          description: 'ISIN of the organization. (Requires License: ''ISIN'')'
        name:
          type: string
          example: ACME Corp
          description: Name of the organization.
        state:
          type: string
          example: CA
          description: State (code) the organization is headquartered in.
        ticker:
          type: string
          example: ACME
          description: Primary ticker of the organization (if public).
      title: OrganizationReference
      description: Reference to an organization
    CorpNewsArticleLegacy:
      type: object
      properties:
        articleType:
          type: string
          example: PressRelease
          description: Type of article. Possible values are "News" and "PressRelease
        availableAt:
          type: string
          example: '2017-06-29T21:41:21.109Z'
          description: Date published
        excerpt:
          type: string
          example: ACME announces long awaited acquisition. The acquisition of Wile E. Coyote was announced Thursday.
          description: Fragment or snippet, of the article
        key:
          type: string
          example: 070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c
          description: Key uniquely identifying the article
        matchedArticleOrgs:
          type: array
          description: List of the primary actors that match the input organization scope directly or indirectly
          items:
            $ref: '#/components/schemas/OrganizationReference'
            originalRef: OrganizationReference
        matchedOrgs:
          type: array
          description: List of organizations that match the input organization scope that are primary actors in the article or related to those primary actors
          items:
            $ref: '#/components/schemas/OrganizationReference'
            originalRef: OrganizationReference
        phrases:
          type: array
          example: referendum, embassy_attack
          description: Key phrases identified in the news, only available when themes are also identified
          items:
            type: string
        previewImageUrl:
          type: string
          example: http://acme.com/resources/coyote.jpg
          description: URL of a preview image
        publishedAt:
          type: string
          example: '2017-06-29T21:41:21.109Z'
          description: Date available
        referencedOrgHierarchy:
          type: array
          description: List of organizations who are the primary actors in the article and their ancestors (if any)
          items:
            $ref: '#/components/schemas/OrganizationReference'
            originalRef: OrganizationReference
        referencedOrgs:
          type: array
          description: List of organizations who are the primary actors in the article
          items:
            $ref: '#/components/schemas/OrganizationReference'
            originalRef: OrganizationReference
        sentiment:
          type: number
          format: double
          example: 0.23456
          description: Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over 0 is positive.
        signals:
          type: array
          example: Labor, Labor.Hiring
          description: Material situations/events identified in the news. Signals are represented by a hierarchical taxonomy and are '.' encoded to represent that hierarchy
          items:
            type: string
        significance:
          type: string
          example: HIGH
          description: Significance of the article. Possible values are "HIGH" and "MEDIUM"
        similarityClusterId:
          type: string
          example: 075005015cf083aba01f0826ecfe718e965b577c572166b14a77652e
          description: Id of the similarity cluster it belongs to.
        sourceName:
          type: string
          example: businesswire.com, The Washington Daybook
          description: Name or host name of the publisher of the article
        sourceUrl:
          type: string
          example: http://acme.com/press
          description: URL to the original source of the article
        themes:
          type: array
          example: Brexit, TradeWar
          description: Trending topics identified in the news
          items:
            type: string
        title:
          type: string
          example: ACME acquires Wile E. Coyote, Inc.
          description: Title
      title: CorpNewsArticleLegacy
      description: Corp news article.
    CorporateNewsRequestLegacy:
      type: object
      properties:
        articleType:
          type: array
          example:
          - News
          - PressRelease
          description: One or more types of articles to return. By default all types are returned.
          items:
            type: string
        dateType:
          type: string
          example: available
          description: Indicates whether dates to query by should be published dates "published" or available dates (processing completed) "available". Default is published.
        endDate:
          type: string
          example: '2018-08-01T12:00:00'
          description: News date to end with. Format is yyyy-mm-dd for daily (inclusive) news or yyyy-mm-dd'T'HH:mm if you want it down to the hour or minute. If startDate is used and endDate is not the default endDate is today.
        offset:
          type: integer
          format: int32
          example: 14
          description: Number of days back news should be returned for. Should not be used with startDate. Default is 31.
        orgField:
          type: array
          example:
          - name
          - ticker
          description: One or more fields to return for each organization associated with the returned articles, by default only the organization's Id and name is returned. Available options are name, domainName, ticker, city, state, country
          items:
            type: string
        orgScope:
          description: Identifies the companies/organizations that should be the subject of the news to be returned. Only one of the supported options should be used at a time.
          $ref: '#/components/schemas/OrganizationScopeLegacy'
          originalRef: OrganizationScopeLegacy
        pageNo:
          type: integer
          format: int32
          example: 1
          description: Page number of the total result set to return, default is 1.
        pageSize:
          type: integer
          format: int32
          example: 100
          description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        signal:
          type: array
          example:
          - Business.MergerAcquisitions
          - Business.FinancialFilings
          description: One or more signals to restrict the returned news to.
          items:
            type: string
        significance:
          type: string
          example: HIGH
          description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        similarity:
          type: string
          description: Indicates which (if any) similar articles should be returned, options are "Usage" and "None", default is "None". "Usage" indicates similar articles can be returned if they have different usage restrictions.
        startDate:
          type: string
          example: '2018-08-01T12:00:00'
          description: News date to start from. Format is yyyy-mm-dd for daily news or yyyy-mm-dd'T'HH:mm if you want it down to the hour or minute. Should not be used if offset parameter is.
        text:
          type: string
          example: blockchain
          description: Keyword or phrase to search for news when not using a portfolio
        theme:
          type: array
          example:
          - Brexit
          - TradeWar
          description: One or more themes to restrict the returned news to.
          items:
            type: string
        timezone:
          type: string
          example: PST
          description: Timezone used in startDate and endDate.
      title: CorporateNewsRequestLegacy
      description: Query criteria for returning corporate news.
    OrganizationQueryCriteriaLegacy:
      type: object
      properties:
        empRange:
          type: string
          example: 200-5000
          description: Employee range companies must fall in. The range is formatted as <lower>-<upper> where lower and upper must be one of 1, 10, 50, 200, 500, 1000, 5000, 10000. The upper bound can be omitted to report over 1B.
        fips:
          type: array
          example:
          - '35620'
          description: One or more FIPS codes identifying locations the companies must have their headquarters in.
          items:
            type: string
        location:
          type: array
          example:
          - Los Angeles/California/United States
          description: One or more locations companies must have their headquarters in.
          items:
            type: string
        naics:
          type: array
          example:
          - '221114'
          - '221115 '
          description: One or more NAICS codes identifying industries the companies must operate in.
          items:
            type: string
        revRange:
          type: string
          example: 50-200
          description: Revenue range (in millions) companies must fall in. The range is formatted as <lower>-<upper> where lower and upper must be one of 0, 1, 10, 50, 100, 200, 1000. The upper bound can be omitted to report over 1B.
        sic:
          type: array
          example:
          - '1311'
          - '1381'
          description: One or more SIC codes identifying industries the companies must operate in.
          items:
            type: string
      title: OrganizationQueryCriteriaLegacy
      description: Query criteria identifying the companies/organizations that should be the subject of the news to be returned.
    OrganizationScopeLegacy:
      type: object
      properties:
        bvId:
          type: array
          description: One or more Bitvore IDs identifying entities to retrieve news for.
          items:
            type: string
        foreignId:
          type: array
          description: One or more Foreign Ids identifying the entities to retrieve news for, the Ids must be registered in an identification scheme associated with the API client.
          items:
            type: string
        orgQuery:
          description: Query criteria identifying the entities to retrieve news for.
          $ref: '#/components/schemas/OrganizationQueryCriteriaLegacy'
          originalRef: OrganizationQueryCriteriaLegacy
        portfolioId:
          type: string
          description: Id identifying a portfolio to retrieve news for.
      title: OrganizationScopeLegacy
      description: Identifies the companies/organizations that should be the subject of the news to be returned. Only one of the supported options should be used at a time.
    ReasonResponse:
      type: object
      properties:
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: object
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: object
          description: Response payload
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: ReasonResponse
      description: A response used to explain a failure or issue with the request.
    CorpNewsSearchResponseLegacy:
      type: object
      required:
      - returned
      - total
      properties:
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: string
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/CorpNewsArticleLegacy'
            originalRef: CorpNewsArticleLegacy
        returned:
          type: integer
          format: int32
          example: 10
          description: Number of news articles returned by search, maximum amount dictated by the pageSize parameter used in search
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
        total:
          type: integer
          format: int32
          example: 100
          description: Total Number of news articles found by search
      title: CorpNewsSearchResponseLegacy
      description: Corp news search response.
  securitySchemes:
    API_key:
      type: apiKey
      name: X-BV-APIKEY
      in: header
    BasicAuth:
      type: http
      scheme: basic
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            Global: Includes all Bitvore APIs
          tokenUrl: https://api.bitvore.com/oauth/accesstoken
