openapi: 3.2.0
info:
  description: '## Precision News API


    The Precision News APIs provide access to curated news annotated with metadata tags.'
  version: '1.0'
  title: Bitvore Legacy Identification API
  license:
    name: Copyright Bitvore Corp. 2026
servers:
- url: https://api.bitvore.com/
tags:
- name: Identification
  description: Identification API
paths:
  /idapi/maps/{foreignSystemName}:
    get:
      tags:
      - Identification
      summary: Download Id Map
      description: Downloads the identification map for the specified foreign Id system.
      operationId: handleDownloadMapUsingGET
      parameters:
      - name: foreignSystemName
        in: path
        description: foreignSystemName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InputStreamResource'
                originalRef: InputStreamResource
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system could not be found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /idapi/maps/{foreignSystemName}/mappings:
    post:
      tags:
      - Identification
      summary: Add Id Mapping
      description: Adds a mapping for the specified foreign Id system.
      operationId: handleAddMappingsUsingPOST
      parameters:
      - name: foreignSystemName
        in: path
        description: foreignSystemName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDMapResponse'
                originalRef: IDMapResponse
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IDMapping'
                originalRef: IDMapping
        description: mappings
        required: true
    delete:
      tags:
      - Identification
      summary: Delete Id Mappings
      description: Deletes all mappings for the specified foreign Id system.
      operationId: handleDeleteMappingsUsingDELETE
      parameters:
      - name: foreignSystemName
        in: path
        description: foreignSystemName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDMapResponse'
                originalRef: IDMapResponse
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /idapi/maps/{foreignSystemName}/mappings/{foreignId}:
    get:
      tags:
      - Identification
      summary: Return Id Mapping
      description: Returns the mapping for a given foreign Id in the specified foreign Id system.
      operationId: handleGetMappingUsingGET
      parameters:
      - name: foreignSystemName
        in: path
        description: foreignSystemName
        required: true
        schema:
          type: string
      - name: foreignId
        in: path
        description: foreignId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDMapResponse'
                originalRef: IDMapResponse
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system or foreign Id could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
    put:
      tags:
      - Identification
      summary: Change Id Mapping
      description: Changes the mapping for a given foreign Id in the specified foreign Id system.
      operationId: handleModifyMappingUsingPUT
      parameters:
      - name: foreignSystemName
        in: path
        description: foreignSystemName
        required: true
        schema:
          type: string
      - name: foreignId
        in: path
        description: foreignId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDMapResponse'
                originalRef: IDMapResponse
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system or foreign Id could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IDMapping'
              originalRef: IDMapping
        description: mapping
        required: true
    delete:
      tags:
      - Identification
      summary: Delete Id Mapping
      description: Deletes the mapping for a given foreign Id in the specified foreign Id system.
      operationId: handleRemoveMappingUsingDELETE
      parameters:
      - name: foreignSystemName
        in: path
        description: foreignSystemName
        required: true
        schema:
          type: string
      - name: foreignId
        in: path
        description: foreignId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDMapResponse'
                originalRef: IDMapResponse
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system or foreign Id could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /idapi/maps/{foreignSystemName}/upload:
    post:
      tags:
      - Identification
      summary: Upload Id Map
      description: Uploads additional mappings of an identification map for the specified foreign Id system.
      operationId: handleUploadMapUsingPOST
      parameters:
      - name: foreignSystemName
        in: path
        description: Foreign Id system
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDMapResponse'
                originalRef: IDMapResponse
        '401':
          description: Unauthorized to access the specified foreign Id system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '404':
          description: Foreign Id system could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: File to upload
                  format: binary
  /idapi/version:
    get:
      tags:
      - Identification
      summary: Return API Version
      description: Deprecated
      operationId: getVersionUsingGET_1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '401':
          description: Unauthorized to get version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonResponse'
                originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - BasicAuth:
        - Global
      - OAuth:
        - Global
      deprecated: false
components:
  schemas:
    InputStreamResource:
      type: object
      properties:
        description:
          type: string
        file:
          $ref: '#/components/schemas/File'
          originalRef: File
        filename:
          type: string
        inputStream:
          $ref: '#/components/schemas/InputStream'
          originalRef: InputStream
        open:
          type: boolean
        readable:
          type: boolean
        uri:
          $ref: '#/components/schemas/URI'
          originalRef: URI
        url:
          $ref: '#/components/schemas/URL'
          originalRef: URL
      title: InputStreamResource
    IDMapping:
      type: object
      required:
      - bvId
      - foreignId
      properties:
        bvId:
          type: string
          example: b00001ab7
          description: Bitvore Id being mapped to
        bvName:
          type: string
          example: ACME Corp
          description: Name of the Bitvore entity being mapped to. Returned by API calls, not needed for input to API calls
        foreignId:
          type: string
          example: 4295904307
          description: Foreign Id being mapped from, for example a Perm Id
      title: IDMapping
      description: Id mapping, maps a foreign Id to a Bitvore Id.
    URL:
      type: object
      properties:
        authority:
          type: string
        content:
          type: object
        defaultPort:
          type: integer
          format: int32
        file:
          type: string
        host:
          type: string
        path:
          type: string
        port:
          type: integer
          format: int32
        protocol:
          type: string
        query:
          type: string
        ref:
          type: string
        userInfo:
          type: string
      title: URL
    InputStream:
      type: object
      title: InputStream
    File:
      type: object
      properties:
        absolute:
          type: boolean
        absoluteFile:
          $ref: '#/components/schemas/File'
          originalRef: File
        absolutePath:
          type: string
        canonicalFile:
          $ref: '#/components/schemas/File'
          originalRef: File
        canonicalPath:
          type: string
        directory:
          type: boolean
        file:
          type: boolean
        freeSpace:
          type: integer
          format: int64
        hidden:
          type: boolean
        name:
          type: string
        parent:
          type: string
        parentFile:
          $ref: '#/components/schemas/File'
          originalRef: File
        path:
          type: string
        totalSpace:
          type: integer
          format: int64
        usableSpace:
          type: integer
          format: int64
      title: File
    IDMapResponse:
      type: object
      required:
      - count
      properties:
        count:
          type: integer
          format: int32
          example: 1
          description: Number of mappings returned.
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: string
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: array
          description: Response payload
          items:
            $ref: '#/components/schemas/IDMapping'
            originalRef: IDMapping
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: IDMapResponse
      description: Id map response.
    URI:
      type: object
      properties:
        absolute:
          type: boolean
        authority:
          type: string
        fragment:
          type: string
        host:
          type: string
        opaque:
          type: boolean
        path:
          type: string
        port:
          type: integer
          format: int32
        query:
          type: string
        rawAuthority:
          type: string
        rawFragment:
          type: string
        rawPath:
          type: string
        rawQuery:
          type: string
        rawSchemeSpecificPart:
          type: string
        rawUserInfo:
          type: string
        scheme:
          type: string
        schemeSpecificPart:
          type: string
        userInfo:
          type: string
      title: URI
    ReasonResponse:
      type: object
      properties:
        reason:
          type: string
          example: Could not locate subject.
          description: Text reason for the failure (if not successful)
        reasonSupport:
          type: object
          example: Longer description of the missing subject.
          description: Additional information about the failure (if not successful)
        response:
          type: object
          description: Response payload
        success:
          type: boolean
          example: true
          description: Indicates whether the call was successful or not
      title: ReasonResponse
      description: A response used to explain a failure or issue with the request.
  securitySchemes:
    API_key:
      type: apiKey
      name: X-BV-APIKEY
      in: header
    BasicAuth:
      type: http
      scheme: basic
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            Global: Includes all Bitvore APIs
          tokenUrl: https://api.bitvore.com/oauth/accesstoken
