swagger: '2.0'
info:
  description: "### Cellenus Municipal APIs\r\nThe Cellenus Municipal APIs consists of two main datasets, \"Muni & Economic\"\
    \ and \"Muni ESG\" which contains curated news articles that are relevant to municipal obligors and bonds, including news\
    \ about municipalities, economic news for geographic locations, and sector (healthcare, education, etc) specific news.\r\
    \n\r\nA typical news article in the dataset is depicted below.\r\n\r\n ![News Article](https://bitvorestaticassets.blob.core.windows.net/api-docs/muni-news-article.png)\r\
    \n\r\nAccess to the Municipal Dataset using the Precision News API requires its own license and API key.  To register\
    \ for an API Key please visit [here](http://developer.bitvore.com/v2/getting-started?section=obtain-api-key). \r\n\r\n\
    When you license the Municipal News APIs you are given access to two different Bitvore APIs, [Muni News](http://developer.bitvore.com/v2/docs/overview/muni?tagname=News%20API),\
    \ [Economic News](http://developer.bitvore.com/v2/docs/overview/muni?tagname=News%20API) and [Portfolio Management](http://developer.bitvore.com/v2/docs/overview//muni?tagname=Portfolios%20API).\r\
    \n\r\nThe [Municipal News API](http://developer.bitvore.com/v2/docs/overview/muni?tagname=News%20API) provides direct\
    \ access to the curated news based on CUSIP, portfolio, location, or business sector.\r\n\r\nThe [Economic News API](http://developer.bitvore.com/v2/docs/overview/muni?tagname=News%20API)\
    \ provides direct access to the curated news relevant to the economy of a location or region.\r\n\r\nThe [Portfolio Management\
    \ API](http://developer.bitvore.com/v2/docs/overview/muni?tagname=Portfolios%20API) provides the ability to create and\
    \ maintain portfolios of CUSIPs so that news can be queried in a single call from the [News API](http://developer.bitvore.com/v2/docs/overview/muni?tagname=News%20API)\
    \ for a given portfolio."
  version: '2.0'
  title: Muni APIs
  license:
    name: Copyright Bitvore Corp. 2026
host: api.bitvore.com
basePath: /
tags:
- name: News API
  description: Muni and Economic News
- name: Portfolios API
  description: Manage CUSIP-based Portfolios
paths:
  /v2/muni/econnews/byfips:
    get:
      tags:
      - News API
      summary: Economic News Search by FIPS
      description: "Provides the ability to search for news relevant to economy of a region: \n * FIPS - Querying by FIPS\
        \ code returns only news articles that have been written about events that have occurred within the given county or\
        \ CBSA. FIPS codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf).\
        \ FIPS codes for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf).\
        \ Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Free\
        \ Form Text Search - A search for words or phrases can be performed against the articles matching any of the previous\
        \ options listed. \n * Significance - Articles are classified by their significance. A highly significant article\
        \ is one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n \n\n The following is an example of using the\
        \ API. \n\n To query for the economic news about the Los Angeles region using the FIPS code 037 between 7/1/2018 and\
        \ 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?fips=037&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\"\
        : 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n\
        \ \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\":\
        \ [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\"\
        \ : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\"\
        : [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\"\
        ,\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response\
        \ is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"\
        san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleFipsEconSearchUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve municipal and economic news for.
        required: true
        type: string
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/econnews/bylocation:
    get:
      tags:
      - News API
      summary: Economic News Search by Location
      description: "Provides the ability to search for news relevant to economy of a location: \n * State - Querying by state\
        \ returns only news articles that have been written about events that have occurred within the given state. \n * City\
        \ - Querying by city returns only news articles that have been written about events that have occurred within the\
        \ given city. This option requires the use of the State option to avoid ambiguity. \n * Free Form Text Search - A\
        \ search for words or phrases can be performed against the articles matching any of the previous options listed. \n\
        \ * Significance - Articles are classified by their significance. A highly significant article is one that is alert\
        \ worthy whereas less significant articles are more relevant when performing research. This option will filter the\
        \ results returned by the previous options listed. \n \n\n The following is an example of using the API. \n\n To query\
        \ for the economic news about Irvine, California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/corp/econnews?state=ca&city=irvine&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\"\
        : 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n\
        \ \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\":\
        \ [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\"\
        \ : 0.28571313, \n \t\t\t\"esgSentiment\" : 0.78078979, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\"\
        : [\"United States\"],\n \t\t\t\"sourceLocation\": \"Germany\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\"\
        ,\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response\
        \ is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"\
        san irvine\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleEconSearchUsingGET_2
      produces:
      - '*/*'
      parameters:
      - name: state
        in: query
        description: State (code) to retrieve municipal and economic news for.
        required: true
        type: string
        allowEmptyValue: false
        x-example: CA
      - name: city
        in: query
        description: City to retrieve municipal and economic news for.
        required: false
        type: string
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/news:
    get:
      tags:
      - News API
      summary: Municipal News Search by CUSIP
      description: "Provides the ability to search for news relevant to municipal bonds. The search criteria used when querying\
        \ news includes the following options: \n * CUSIP - Querying by CUSIP returns only news articles where the identified\
        \ bond is somehow affected by the subject matter of an article.\n * Sector - Querying by sector returns only news\
        \ articles that are written about the given sector. The sectors supported are: \n \t* Development \n \t* Education\
        \ \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue\
        \ \n \t* Transportation \n \t* Utility \n \n * Signal - An article can be classified by one or more signals indicating\
        \ that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical\
        \ and signal values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal\
        \ returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned.\
        \ For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions\
        \ etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n\
        \ * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the\
        \ previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types\
        \ are returned.\n * Significance - Articles are classified by their significance. A highly significant article is\
        \ one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n * Include CUSIPs - Return all CUSIPs affected\
        \ by the subject matter of an article. This option requires a verified CGS license. \n \n\n The metadata tags of articles\
        \ specific to municipal news returned in addition to the common tags above are: \n * CUSIPs - 0 or more CUSIPs identifying\
        \ bonds affected by the news article. \n * Sectors - 0 or more sectors the article is reporting news about. \n * Significance\
        \ - The significance of the article, high or medium. \n \n\n A sample successful response is: \n\n ```js\n {\n \t\"\
        success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\"\
        ,\n \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\"\
        : [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United\
        \ States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\":\
        \ \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\
        \t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad\
        \ cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleCusipMuniSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: cusip
        in: query
        description: One or more CUSIPs identifying the bonds to retrieve news for.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        type: boolean
        default: false
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - News API
      summary: Advanced Municipal News Search
      description: "Provides an advanced municipal news search capability. The search criteria used when querying news includes\
        \ a more advanced approach to identifying locations, sections, and a larger number of cusips. The following are the\
        \ options supported for searching the news: \n * CUSIP - Querying by CUSIP returns only news articles where the identified\
        \ bond is somehow affected by the subject matter of an article. Up to 10000 CUSIPs can be queried. \n * Portfolio\
        \ - A portfolio is made up of one or more CUSIPs. Querying by portfolio returns only news articles where any of the\
        \ bonds in the portfolio are affected by the subject matter of an article. This option cannot be used with the CUSIP\
        \ option. \n * Location - Querying by city/state returns only news articles that have been written about events that\
        \ have occurred within a city and/or state. Locations are in the format of city/state/country, i.e., Los Angeles/California/United\
        \ States. United States is assumed if the country is not specified. \n * FIPS - Querying by FIPS code returns only\
        \ news articles that have been written about events that have occurred within the given county or CBSA. FIPS codes\
        \ for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes for CBSAs\
        \ can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf). Maps\
        \ of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Sector\
        \ - Querying by sector returns only news articles that are written about the given sector. The sectors supported are:\
        \ \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t\
        * Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n This option cannot be combined\
        \ with the CUSIP or Portfolio options. \n * Signal - An article can be classified by one or more signals indicating\
        \ that the article describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical\
        \ and signal values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal\
        \ returns only articles classified by the given signal. All child signals in the signal hierarchy will also be returned.\
        \ For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions\
        \ etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n\
        \ * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the\
        \ previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types\
        \ are returned.\n * Significance - Articles are classified by their significance. A highly significant article is\
        \ one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected\
        \ by the subject matter of an article. This option requires a verified CGS license. \n \n\n The following are some\
        \ examples of using the API. \n\n To query for the news about 2 CUSIPs published within the last 3 days in the PST\
        \ timezone (using HTTP header for api key) : \n\n ```js\n POST https://api.bitvore.com/v2/muni/news \n Accept: application/json\n\
        \ X-BV-APIKEY: xyz123... \n\n { \n \t\"cusip\": [ \"123456789\", \"987654321\" ] \n \t\"startDate\": \"2018-07-01T09:00:00.000Z\"\
        , \n \t\"endDate\": \"2018-07-31T17:00:00.000Z\" \n } \n ```\n \n\n To query for the news about about education and\
        \ development in Los Angeles and San Francisco between 9:00AM PST 7/1/2018 and 5:00PM PST on 7/31/2018 : \n\n ```js\n\
        \ POST https://api.bitvore.com/v2/muni/news \n Accept: application/json\n X-BV-APIKEY: xyz123... \n\n { \n \t\"sector\"\
        : [ \"education\", \"development\" ], \n \t\"location\": [ \"Los Angeles/California\", \"San Francisco/California\"\
        \ ], \n \t\"startDate\": \"2018-07-01T09:00:00.000Z\", \n \t\"endDate\": \"2018-07-31T17:00:00.000Z\" \n } \n ```\n\
        \ \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\":\
        \ 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n\
        \ \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"locations\":\
        \ [\"/Orange County/California/United States\", \"Los Angeles//California/United States\"],\n \t\t\t\"sentiment\"\
        \ : 0.28571313, \n \t\t\t\"significance\": \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"\
        sourceLocation\": \"United States\",\n \t\t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\"\
        : \"2017-06-29T21:41:21.109Z\",\n \t\t}\n \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"\
        success\": false,\n \t\"reason\": \"Invalid state specified\",\n \t\"reasonSupport\": \"san irvine\",\n \t\"count\"\
        : 0\n }\n ```\n"
      operationId: handleMuniAdvancedSearchUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/MunicipalNewsRequest'
          originalRef: MunicipalNewsRequest
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/news/byfips:
    get:
      tags:
      - News API
      summary: Municipal News Search by FIPS
      description: "Provides the ability to search for news relevant to municipal bonds using a FIPS location identifier.\
        \ The search criteria used when querying news includes the following options: \n * FIPS - Querying by FIPS code returns\
        \ only news articles that have been written about events that have occurred within the given county or CBSA. FIPS\
        \ codes for counties can be found [here](https://www.census.gov/prod/techdoc/cbp/95-96cd/fips-st.pdf). FIPS codes\
        \ for CBSAs can be found [here](https://www2.census.gov/programs-surveys/cps/methodology/2015%20Geography%20Cover.pdf).\
        \ Maps of CBSAs can be found [here](https://www.census.gov/geographies/reference-maps/2020/geo/cbsa.html). \n * Sector\
        \ - Querying by sector returns only news articles that are written about the given sector. The sectors supported are:\
        \ \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation \n \t* Health \n \t\
        * Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n * Signal - An article can be\
        \ classified by one or more signals indicating that the article describes an event, or events, identified in the Bitvore\
        \ Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent that hierarchy, i.e.,\
        \ Environment.ClimateChange. Querying by signal returns only articles classified by the given signal. All child signals\
        \ in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality\
        \ and Environment.ClimateChange.GHGEmissions etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n\
        \ * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the\
        \ previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types\
        \ are returned.\n * Significance - Articles are classified by their significance. A highly significant article is\
        \ one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected\
        \ by the subject matter of an article. This option requires a verified CGS license. \n \n\n The metadata tags of articles\
        \ specific to municipal news returned in addition to the common tags above are: \n * CUSIPs - 0 or more CUSIPs identifying\
        \ bonds affected by the news article. \n * Sectors - 0 or more sectors the article is reporting news about. \n * Significance\
        \ - The significance of the article, high or medium. \n \n\n The following is an example of using the API. \n\n To\
        \ query for the news about the education sector in California between 7/1/2018 and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/muni/news/byfips?fips=06059&sector=education&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\"\
        : 1, \n \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n\
        \ \t\t\t\"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\"\
        : \"dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\"\
        : [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United\
        \ States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\":\
        \ \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\
        \t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad\
        \ cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleFipsMuniSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: fips
        in: query
        description: FIPS code to retrieve news for
        required: true
        type: string
        allowEmptyValue: false
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: sector
        in: query
        description: Sector to retrieve news for
        required: false
        type: string
        allowEmptyValue: false
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        type: boolean
        default: false
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/news/bylocation:
    get:
      tags:
      - News API
      summary: Municipal News Search by Location
      description: "Provides the ability to search for news relevant to municipal bonds using a location. The search criteria\
        \ used when querying news includes the following options: \n * State - Querying by state returns only news articles\
        \ that have been written about events that have occurred within the given state. \n * City - Querying by city returns\
        \ only news articles that have been written about events that have occurred within the given city. This option requires\
        \ the use of the State option to avoid ambiguity. \n * Sector - Querying by sector returns only news articles that\
        \ are written about the given sector. The sectors supported are: \n \t* Development \n \t* Education \n \t* HigherEducation\
        \ \n \t* PrimarySecondaryEducation \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation\
        \ \n \t* Utility \n \n * Signal - An article can be classified by one or more signals indicating that the article\
        \ describes an event, or events, identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal\
        \ values are '.' encoded to represent that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns\
        \ only articles classified by the given signal. All child signals in the signal hierarchy will also be returned. For\
        \ example querying for Environment.ClimateChange will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions\
        \ etc. articles. The signals currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n\
        \ * Free Form Text Search - A search for words or phrases can be performed against the articles matching any of the\
        \ previous options listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types\
        \ are returned.\n * Significance - Articles are classified by their significance. A highly significant article is\
        \ one that is alert worthy whereas less significant articles are more relevant when performing research. This option\
        \ will filter the results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected\
        \ by the subject matter of an article. This option requires a verified CGS license. \n \n\n The following are some\
        \ examples of using the API. \n\n To query for the news about the education sector in California between 7/1/2018\
        \ and 7/31/2018 : \n\n ```js\n GET https://api.bitvore.com/v2/muni/news/bylocation?state=ca&sector=education&startDate=2018-07-01T00:00:00.000+07:00&endDate=2018-07-31T23:59:59.999+07:00\n\
        \ ```\n \n\n The metadata tags of articles specific to municipal news returned in addition to the common tags above\
        \ are: \n * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article. \n * Sectors - 0 or more sectors\
        \ the article is reporting news about. \n * Significance - The significance of the article, high or medium. \n \n\n\
        \ A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n\
        \ \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\
        \"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"\
        dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\"\
        : [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United\
        \ States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\":\
        \ \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\
        \t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad\
        \ cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handleLocationMuniSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: state
        in: query
        description: State to retrieve news for.
        required: true
        type: string
        allowEmptyValue: false
        x-example: CA
      - name: city
        in: query
        description: City to retrieve news for.
        required: false
        type: string
        allowEmptyValue: false
        x-example: Los Angeles
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: sector
        in: query
        description: Sector to retrieve news for
        required: false
        type: string
        allowEmptyValue: false
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: text
        in: query
        description: Keyword or phrase to search for news
        required: false
        type: string
        allowEmptyValue: false
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        type: boolean
        default: false
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized to view news
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/news/byportfolio:
    get:
      tags:
      - News API
      summary: Municipal News Search by Portfolio
      description: "Provides the ability to search for news relevant to municipal bonds using a portfolio. The search criteria\
        \ used when querying news includes the following options: \n * Portfolio - A portfolio is made up of one or more CUSIPs.\
        \ Querying by portfolio returns only news articles where any of the bonds in the portfolio are affected by the subject\
        \ matter of an article. \n * Sector - Querying by sector returns only news articles that are written about the given\
        \ sector. The sectors supported are: \n \t* Development \n \t* Education \n \t* HigherEducation \n \t* PrimarySecondaryEducation\
        \ \n \t* Health \n \t* Housing \n \t* LocalGov \n \t* TaxRevenue \n \t* Transportation \n \t* Utility \n \n * Signal\
        \ - An article can be classified by one or more signals indicating that the article describes an event, or events,\
        \ identified in the Bitvore Signal taxonomy. The taxonomy is hierarchical and signal values are '.' encoded to represent\
        \ that hierarchy, i.e., Environment.ClimateChange. Querying by signal returns only articles classified by the given\
        \ signal. All child signals in the signal hierarchy will also be returned. For example querying for Environment.ClimateChange\
        \ will return Environment.ClimateChange.AirQuality and Environment.ClimateChange.GHGEmissions etc. articles. The signals\
        \ currently supported can be found [here](http://developer.bitvore.com/v2/docs/api-reference/signals).\n * Free Form\
        \ Text Search - A search for words or phrases can be performed against the articles matching any of the previous options\
        \ listed. \n * Article Type - Type of articles to return, News or PressRelease. By default all types are returned.\n\
        \ * Significance - Articles are classified by their significance. A highly significant article is one that is alert\
        \ worthy whereas less significant articles are more relevant when performing research. This option will filter the\
        \ results returned by the previous options listed. \n * Include CUSIPs - Return ALL cusips affected by the subject\
        \ matter of an article. This option requires a verified CGS license. \n \n\n The following are some examples of using\
        \ the API. \n\n To query for the news about a portfolio between 1:00 and 2:00 PM PST on 7/1/2018 (using HTTP header\
        \ for api key): \n\n ```js\n GET https://api.bitvore.com/v2/muni/news/byportfolio?portfolioId=12345&startDate=2018-07-01T13:00:00.000+07:00&endDate=2018-07-01T14:00:00.000+07:00\
        \ ```\n \n\n The metadata tags of articles specific to municipal news returned in addition to the common tags above\
        \ are: \n * CUSIPs - 0 or more CUSIPs identifying bonds affected by the news article. \n * Sectors - 0 or more sectors\
        \ the article is reporting news about. \n * Significance - The significance of the article, high or medium. \n \n\n\
        \ A sample successful response is: \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 1,\n \t\"total\": 1, \n\
        \ \t\"response\": [\n \t\t{\n \t\t\t\"key\": \"070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c\",\n \t\t\t\
        \"articleType\": \"News\",\n \t\t\t\"title\": \"Irvine And Carlsbad Water Agreement\",\n \t\t\t\"sourceName\": \"\
        dailyexpress.com\",\n \t\t\t\"sourceUrl\": \"http://ct.moreover.com/?a=41646891667&p=5jw&v=1&x=yg6DsqTFf8IC8ym026-o0A\"\
        ,\n \t\t\t\"previewImageUrl\": \"http://dailyexpress.com/resources/irvine-carlsbad.jpg\",\n \t\t\t\"excerpt\": \"\
        Irvine has agreed to buy water from the City of Carlsbad. The Carlsbad desalination ...\",\n \t\t\t\"matchedCusips\"\
        : [\"00037CSW1\"],\n \t\t\t\"locations\": [\"/Orange County/California/United States\", \"Los Angeles//California/United\
        \ States\"],\n \t\t\t\"sectors\": [\"Utilities\"],\n \t\t\t\"sentiment\" : 0.28571313, \n \t\t\t\"significance\":\
        \ \"HIGH\",\n \t\t\t\"articleLocations\": [\"United States\"],\n \t\t\t\"sourceLocation\": \"United States\",\n \t\
        \t\t\"publishedAt\": \"2017-06-29T21:41:19.109Z\",\n \t\t\t\"availableAt\": \"2017-06-29T21:41:21.109Z\",\n \t\t}\n\
        \ \t]\n }\n ```\n A sample unsuccessful response is: \n\n ```js\n {\n \t\"success\": false,\n \t\"reason\": \"Bad\
        \ cusips found\",\n \t\"reasonSupport\": \"123456789 987654321\",\n \t\"count\": 0\n }\n ```\n"
      operationId: handlePortfolioMuniSearchUsingGET
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: query
        description: Id identifying a portfolio to retrieve news for.
        required: true
        type: integer
        format: int64
        allowEmptyValue: false
      - name: articleType
        in: query
        description: One or more types of articles (i.e., News, PressRelease) to return. By default all types are returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: signals
        in: query
        description: 'One or more signals. (Requires license: ''ESG'')'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: significance
        in: query
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The parameter
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
        required: false
        type: string
        default: HIGH
        allowEmptyValue: false
      - name: includeCusips
        in: query
        description: 'Return ALL cusips affected by the article. (Requires license: ''CUSIP'')'
        required: false
        type: boolean
        default: false
        allowEmptyValue: false
      - name: startDate
        in: query
        description: News date to start from. Time offset will be converted to UTC (Z).
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-10T00:00:00Z'
      - name: endDate
        in: query
        description: News date to end with. Time offset will be converted to UTC (Z)
        required: false
        type: string
        format: date-time
        allowEmptyValue: false
        x-example: '2021-04-11T23:59:59Z'
      - name: dateType
        in: query
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
        required: false
        type: string
        default: published
        allowEmptyValue: false
      - name: pageNo
        in: query
        description: Page number of the total result set to return, default is 1.
        required: false
        type: integer
        default: 1
        format: int32
        allowEmptyValue: false
      - name: pageSize
        in: query
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MuniNewsResponse'
            originalRef: MuniNewsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/BasicResponse'
            originalRef: BasicResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/portfolios:
    get:
      tags:
      - Portfolios API
      summary: Get Portfolios
      description: Returns all portfolios for a user.
      operationId: handleGetPortfoliosUsingGET_2
      produces:
      - '*/*'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioResponse'
            originalRef: PortfolioResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - Portfolios API
      summary: Add Portfolio
      description: Creates a new portfolio
      operationId: handleAddPortfolioUsingPOST_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: portfolio
        description: portfolio
        required: true
        schema:
          $ref: '#/definitions/PortfolioSummary'
          originalRef: PortfolioSummary
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioSummary'
            originalRef: PortfolioSummary
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/portfolios/{portfolioId}:
    get:
      tags:
      - Portfolios API
      summary: Get Portfolio
      description: Returns a portfolio by Id. Items can be optionally returned.
      operationId: handleGetPortfolioUsingGET_2
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioSummary'
            originalRef: PortfolioSummary
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    put:
      tags:
      - Portfolios API
      summary: Update Portfolio
      description: Changes the portfolio with the given Id, the result of the changes are returned as a portfolio
      operationId: handleModifyPortfolioUsingPUT_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - in: body
        name: portfolio
        description: portfolio
        required: true
        schema:
          $ref: '#/definitions/PortfolioSummary'
          originalRef: PortfolioSummary
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioSummary'
            originalRef: PortfolioSummary
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    delete:
      tags:
      - Portfolios API
      summary: Delete Portfolio
      description: Deletes the portfolio with the given Id
      operationId: handleDeletePortfolioUsingDELETE_2
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/portfolios/{portfolioId}/itemUploads:
    post:
      tags:
      - Portfolios API
      summary: Upload Portfolio Items
      description: Uploads a CSV file of portfolio items. The Id Scheme column must exist in the header; CUSIP for Muni API
        and BVID for Corp API
      operationId: handleUploadPortfolioItemsUsingPOST_2
      consumes:
      - multipart/form-data
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - in: formData
        name: replaceItems
        description: Replace items (true|false), otherwise append/update
        required: false
        schema:
          type: boolean
      - name: file
        in: formData
        description: Portfolio CSV file
        required: true
        type: file
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioSummary'
            originalRef: PortfolioSummary
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/portfolios/{portfolioId}/items:
    get:
      tags:
      - Portfolios API
      summary: Return Portfolio Items
      description: Returns the items in the portfolio with the given Id
      operationId: handleGetPortfolioItemsUsingGET_2
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioItemResponse'
            originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - Portfolios API
      summary: Add Portfolio Item
      description: Adds items to the portfolio with the given Id, the added items are returned
      operationId: handleAddPortfolioItemsUsingPOST_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - in: body
        name: items
        description: items
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PortfolioItem'
            originalRef: PortfolioItem
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioItemResponse'
            originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    put:
      tags:
      - Portfolios API
      summary: Replace Portfolio Items
      description: Replaces the items in the portfolio with the given Id, the added items are returned
      operationId: handleReplacePortfolioItemsUsingPUT_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - in: body
        name: items
        description: items
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PortfolioItem'
            originalRef: PortfolioItem
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioItemResponse'
            originalRef: PortfolioItemResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    delete:
      tags:
      - Portfolios API
      summary: Delete Portfolio Items
      description: Deletes the specified items in the portfolio with the given Id. If ids is null, all items will be deleted.
      operationId: handleDeletePortfolioItemsUsingDELETE_4
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - name: ids
        in: query
        description: Id of item(s) to remove
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/portfolios/{portfolioId}/items/ids:
    get:
      tags:
      - Portfolios API
      summary: Return Portfolio Ids
      description: Returns the ids in the portfolio
      operationId: handleGetPortfolioItemsByValuesUsingGET_1
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioItemIdsResponse'
            originalRef: PortfolioItemIdsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    post:
      tags:
      - Portfolios API
      summary: Add Portfolio items by Ids
      description: Adds items to the portfolio with the given Ids, the added items are returned. Adding by id will override
        existing customId mappings for that id.
      operationId: handleAddPortfolioItemsByValuesUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioItemIdsResponse'
            originalRef: PortfolioItemIdsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
    put:
      tags:
      - Portfolios API
      summary: Replace Portfolio Items
      description: Replaces the items in the portfolio with the given Id, the added items are returned. Replacing by id will
        override existing customId mappings for that id.
      operationId: handleReplacePortfolioItemsByValuesUsingPUT_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortfolioItemIdsResponse'
            originalRef: PortfolioItemIdsResponse
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
  /v2/muni/portfolios/{portfolioId}/items/{id}:
    delete:
      tags:
      - Portfolios API
      summary: Delete Portfolio Item
      description: Deletes the specified item in the portfolio with the given Id
      operationId: handleDeletePortfolioItemsUsingDELETE_5
      produces:
      - '*/*'
      parameters:
      - name: portfolioId
        in: path
        description: Portfolio Id
        required: true
        type: integer
        format: int64
      - name: id
        in: path
        description: Id of item to remove
        required: true
        type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
        '500':
          description: Internal error
          schema:
            $ref: '#/definitions/ReasonResponse'
            originalRef: ReasonResponse
      security:
      - API key:
        - Global
      - OAuth:
        - Global
      deprecated: false
securityDefinitions:
  API key:
    type: apiKey
    name: X-BV-APIKEY
    in: header
  OAuth:
    type: oauth2
    tokenUrl: https://api.bitvore.com/oauth/accesstoken
    flow: application
    scopes:
      Global: Includes all Bitvore APIs
definitions:
  BasicResponse:
    type: object
    properties:
      response:
        type: object
        description: Response payload
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
    title: BasicResponse
    description: Default response wrapper for API requests.
  EconNewsResponse:
    type: object
    properties:
      response:
        type: array
        description: Response payload
        items:
          $ref: '#/definitions/EconomicNewsArticle'
          originalRef: EconomicNewsArticle
      returned:
        type: integer
        format: int32
        example: 10
        description: Number of items return
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
      total:
        type: integer
        format: int32
        example: 100
        description: Total number of items available
    title: EconNewsResponse
    description: A paged result response.
  EconomicNewsArticle:
    type: object
    properties:
      articleLocations:
        type: array
        example: United States
        description: The countries that the article is likely about.
        items:
          type: string
      articleType:
        type: string
        example: PressRelease
        description: Type of article. Possible values are "News" and "PressRelease
      availableAt:
        type: string
        example: '2017-06-29T21:41:21.109Z'
        description: Date available
      esgSentiment:
        type: number
        format: double
        example: 0.78078
        description: ESG Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while
          over 0 is positive.
      excerpt:
        type: string
        example: ACME announces long awaited acquisition. The acquisition of Wile E. Coyote was announced Thursday.
        description: Fragment or snippet, of the article
      key:
        type: string
        example: 070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c
        description: Key uniquely identifying the article
      locations:
        type: array
        example: Irvine//California/United States, /San Diego County/California/United States
        description: Locations affected. A location is at the city or county level. It is encoded as city/county/state/country
          where if the city is specified the county will not be and vice-versa
        items:
          type: string
      previewImageUrl:
        type: string
        example: http://acme.com/resources/coyote.jpg
        description: URL of a preview image
      publishedAt:
        type: string
        example: '2017-06-29T21:41:21.109Z'
        description: Date published
      sentiment:
        type: number
        format: double
        example: 0.23456
        description: Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over
          0 is positive.
      significance:
        type: string
        example: HIGH
        description: Significance of the article. Possible values are "HIGH" and "MEDIUM"
      sourceLocation:
        type: string
        example: Germany
        description: The country that is likely the source of the article.
      sourceName:
        type: string
        example: businesswire.com, The Washington Daybook
        description: Name or host name of the publisher of the article
      sourceUrl:
        type: string
        example: http://acme.com/press
        description: URL to the original source of the article
      title:
        type: string
        example: ACME acquires Wile E. Coyote, Inc.
        description: Title
    title: EconomicNewsArticle
    description: Single economic news article.
  InputStream:
    type: object
    title: InputStream
  ItemCustomId:
    type: object
    properties:
      id:
        type: string
        example: 00XAD6
        description: A custom id of the portfolio item
        maxLength: 40
      type:
        type: string
        example: FOREIGN_ID
        description: A type or name of the custom id
        maxLength: 40
    title: ItemCustomId
    description: A user managed id of the portfolio item. Can be used to map customer Ids to Bitvore Ids.
  MuniNewsArticle:
    type: object
    properties:
      articleLocations:
        type: array
        example: United States
        description: The countries that the article is likely about.
        items:
          type: string
      articleType:
        type: string
        example: PressRelease
        description: Type of article. Possible values are "News" and "PressRelease
      availableAt:
        type: string
        example: '2017-06-29T21:41:21.109Z'
        description: Date available
      cusips:
        type: array
        example: 02361DAP5, 002824AV2
        description: CUSIPs affected by the article. Required valid CUSIP license and permission.
        items:
          type: string
      esgSentiment:
        type: number
        format: double
        example: 0.78078
        description: ESG Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while
          over 0 is positive.
      excerpt:
        type: string
        example: ACME announces long awaited acquisition. The acquisition of Wile E. Coyote was announced Thursday.
        description: Fragment or snippet, of the article
      key:
        type: string
        example: 070000015cf083aba01f0826ecfe718e965b577c572166b14a77651c
        description: Key uniquely identifying the article
      locations:
        type: array
        example: Irvine//California/United States, /San Diego County/California/United States
        description: Locations affected. A location is city or county level. It is encoded as city/county/state/country where
          if the city is specified the county will not be and vice-versa
        items:
          type: string
      matchedCusips:
        type: array
        example: 02361DAP5, 002824AV2
        description: CUSIPs affected by the article that match the input CUSIPs, or are contained in the supplied portfolio.
        items:
          type: string
      previewImageUrl:
        type: string
        example: http://acme.com/resources/coyote.jpg
        description: URL of a preview image
      publishedAt:
        type: string
        example: '2017-06-29T21:41:21.109Z'
        description: Date published
      sectors:
        type: array
        example: Education, Utilities
        description: Sectors which the article belongs to.
        items:
          type: string
      sentiment:
        type: number
        format: double
        example: 0.23456
        description: Sentiment of the article. The value is a decimal value between -1 and 1, under 0 is negative while over
          0 is positive.
      signals:
        type: array
        example:
        - Environment.ClimateChange
        - Social.EmployeeStandards.FairWagesBenefits
        description: 'Signals and topics. See glossary for available values. (Requires license: ''ESG'')'
        items:
          type: string
      significance:
        type: string
        example: HIGH
        description: Significance of the article. Possible values are "HIGH" and "MEDIUM"
      sourceLocation:
        type: string
        example: Germany
        description: The country that is likely the source of the article.
      sourceName:
        type: string
        example: businesswire.com, The Washington Daybook
        description: Name or host name of the publisher of the article
      sourceUrl:
        type: string
        example: http://acme.com/press
        description: URL to the original source of the article
      title:
        type: string
        example: ACME acquires Wile E. Coyote, Inc.
        description: Title
    title: MuniNewsArticle
    description: Muni news article.
  MuniNewsResponse:
    type: object
    properties:
      response:
        type: array
        description: Response payload
        items:
          $ref: '#/definitions/MuniNewsArticle'
          originalRef: MuniNewsArticle
      returned:
        type: integer
        format: int32
        example: 10
        description: Number of items return
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
      total:
        type: integer
        format: int32
        example: 100
        description: Total number of items available
    title: MuniNewsResponse
    description: A paged result response.
  MunicipalNewsRequest:
    type: object
    properties:
      articleType:
        type: array
        example:
        - PressRelease
        description: One or more types of arcticles (i.e., News, PressRelease) to return. By default all types are returned.
        items:
          type: string
      cusip:
        type: array
        example:
        - '123456789'
        - '987654321'
        description: One or more CUSIPs identifying the bonds to retrieve news for, should not be used with the portfolio
          property.
        items:
          type: string
      dateType:
        type: string
        example: available
        description: Indicates whether dates to query by should be published dates "published" or available dates (processing
          completed) "available". Default is published.
      endDate:
        type: string
        format: date-time
        example: '2021-04-11T23:59:59.999Z'
        description: News date to end with. Time offset will be converted to UTC (Z)
      fips:
        type: array
        example:
        - '31080'
        - '06037'
        description: One or more FIPS codes to restrict the returned news to. Must not be used with the cusip or portfolio
          properties.
        items:
          type: string
      includeCusips:
        type: boolean
        example: true
        description: Return ALL cusips affected by the article. This option requires a verified CGS license, default is false
      location:
        type: array
        example:
        - los angeles/ca
        - fl
        description: One or more locations to restrict the returned news to. Can be a state code or a city/state combination.
          Must not be used with the cusip or portfolio properties.
        items:
          type: string
      pageNo:
        type: integer
        format: int32
        example: 1
        description: Page number of the total result set to return, default is 1.
      pageSize:
        type: integer
        format: int32
        example: 100
        description: Number of results out of the total result set per page to return, default is 100, maximum is 1000.
      portfolioId:
        type: integer
        format: int64
        example: 10001
        description: Id identifying a portfolio to retrieve news for, should not be used with the cusip property.
      sector:
        type: array
        example:
        - education
        description: Sector to retrieve news for, must be used with the location property and not with the cusip, or portfolio
          properties.
        items:
          type: string
      signals:
        type: array
        example:
        - Environment.ClimateChange
        - Social.EmployeeStandards.FairWagesBenefits
        description: 'Signals and events. See glossary for available values. (Requires license: ''ESG'')'
        items:
          type: string
      significance:
        type: string
        example: HIGH
        description: Significance of articles to return, possible values are "HIGH" and "MEDIUM", default is "HIGH". The property
          is a threshold so a value of MEDIUM will return MEDIUM and HIGH significance articles.
      startDate:
        type: string
        format: date-time
        example: '2021-04-10T00:00:00.000Z'
        description: News date to start from. Time offset will be converted to UTC (Z)
      text:
        type: string
        example: blockchain
        description: Keyword or phrase to search for news when not using a portfolio
    title: MunicipalNewsRequest
    description: Query criteria for returning municipal news.
  PortfolioItem:
    type: object
    required:
    - id
    properties:
      customIds:
        type: array
        description: 'Optional: Up to 4 client defined custom ids. Convenience property to map client Ids with Bitvore Ids.'
        items:
          $ref: '#/definitions/ItemCustomId'
          originalRef: ItemCustomId
      id:
        type: string
        example: 008000AA7
        description: Unique Id of the portfolio item, the format is dictated by the Id scheme used by the portfolio
      name:
        type: string
        example: ACME Corp
        description: Name of the portfolio item, not required for API input but will be returned from API calls
    title: PortfolioItem
    description: Identifies an item in a portfolio
  PortfolioItemIdsResponse:
    type: object
    required:
    - count
    properties:
      count:
        type: integer
        format: int32
        example: 1
        description: Number of portfolio item ids returned
      reason:
        type: string
        example: Could not locate subject.
        description: Text reason for the failure (if not successful)
      reasonSupport:
        type: string
        example: Longer description of the missing subject.
        description: Additional information about the failure (if not successful)
      response:
        type: array
        description: Response payload
        items:
          type: string
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
    title: PortfolioItemIdsResponse
    description: A response used to explain a failure or issue with the request.
  PortfolioItemResponse:
    type: object
    required:
    - count
    properties:
      count:
        type: integer
        format: int32
        example: 1
        description: Number of portfolio items returned
      reason:
        type: string
        example: Could not locate subject.
        description: Text reason for the failure (if not successful)
      reasonSupport:
        type: string
        example: Longer description of the missing subject.
        description: Additional information about the failure (if not successful)
      response:
        type: array
        description: Response payload
        items:
          $ref: '#/definitions/PortfolioItem'
          originalRef: PortfolioItem
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
    title: PortfolioItemResponse
    description: Portfolio item response.
  PortfolioResponse:
    type: object
    required:
    - count
    properties:
      count:
        type: integer
        format: int32
        example: 1
        description: Number of portfolios returned
      reason:
        type: string
        example: Could not locate subject.
        description: Text reason for the failure (if not successful)
      reasonSupport:
        type: string
        example: Longer description of the missing subject.
        description: Additional information about the failure (if not successful)
      response:
        type: array
        description: Response payload
        items:
          $ref: '#/definitions/PortfolioSummary'
          originalRef: PortfolioSummary
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
    title: PortfolioResponse
    description: Portfolio response.
  PortfolioSummary:
    type: object
    required:
    - id
    - name
    properties:
      id:
        type: integer
        format: int64
        example: 25
        description: Unique Id of the portfolio
      idScheme:
        type: string
        description: Scheme used for identifying porfolio items, supported values are "cusip" for Muni API and "bvid" for
          Corp API
      name:
        type: string
        example: My Portfolio
        description: Name of the portfolio
    title: PortfolioSummary
    description: Summary information about a portfolio.
  ReasonResponse:
    type: object
    properties:
      reason:
        type: string
        example: Could not locate subject.
        description: Text reason for the failure (if not successful)
      reasonSupport:
        type: object
        example: Longer description of the missing subject.
        description: Additional information about the failure (if not successful)
      response:
        type: object
        description: Response payload
      success:
        type: boolean
        example: true
        description: Indicates whether the call was successful or not
    title: ReasonResponse
    description: A response used to explain a failure or issue with the request.
x-info:
  description: Cellenus Municipal APIs, v2
  url: https://developer.bitvore.com
x-tagDescriptions:
  News API: "## News API \n\n The News APIs provide access to curated news annotated with metadata tags. There are three APIs\
    \ that access their own data sets, municipal, economic, and corporate. Each API has a specific way of querying the data\
    \ sets and specific data they return, which is described in each of the respective API descriptions, the [Municipal News\
    \ API](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=News%20API) and the [Economic News API](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=News%20API).\
    \ All of the API's are built on a common foundation described below. \n\n A news article is tagged with metadata that\
    \ describes the content of the article. Each data set has its own set of unique tags but there is a common set depicted\
    \ below \n\n ![News Article](https://bitvorestaticassets.blob.core.windows.net/api-docs/news-article.png) \n\n News queries\
    \ are time based. The news can be queried either within a specified time window or by a number of days back in history\
    \ from the current day. The dates used when specifying a time window can be based on the published date of an article\
    \ or the date which the article was made available by the system. When using a polling strategy to query the latest news\
    \ using the API, the available date is recommended as published dates can be less predictable. Due to the large number\
    \ of news articles that may be returned because of a broad criteria or a large window a limit on the number of articles\
    \ to return by the system can be specified. \n\n Responses to queries are capped at 1000 articles. It is possible however\
    \ that there are more than 1000 articles that match a given query. To accommodate queries that match more than the maximum\
    \ size the concept of paging is supported. A page is a set of articles returned by a single query. It may be less than\
    \ the total result set. The client can indicate which page they want returned on each call. This allows the client to\
    \ loop through the result set one page at a time until the entire result set is returned. \n\n Both the page to return\
    \ and the size of the page are specified by the client with the pageNo and pageSize parameters respectively. Each API\
    \ will list these parameter options as either query parameters or properties of the input message body. A query parameter\
    \ example is as follows: \n\n ```js\n GET ...&pageNo=1&pageSize=100 HTTP 1.1\n ```\n \n\n This instructs the API to return\
    \ the first page with a maximum of 100 articles in it. Each news response will identify the number of articles returned\
    \ for the current page and the total number of articles in the result set so the client can loop if needed. For example:\
    \ \n\n ```js\n {\n \t\"success\": true,\n \t\"returned\": 100,\n \t\"total\": 1000, \n \t... \n ``` \n The above response\
    \ indicates the requested page of 100 articles are in the response but there were a total of 1000 articles that matched\
    \ the query. To then ask for the second page of the result set the pageNo parameter would be incremented as follows: \n\
    \n ```js\n GET ...&pageNo=2&pageSize=100 HTTP 1.1\n ```\n \n\n In this example the next response will return the 101st\
    \ to 200th article in the result set. \n\n The corporate and municipal data sets require their own API key. The economic\
    \ data set is shared between the corporate and municipal data sets and does not require its own key. To register for an\
    \ API Key please contact the [Products Team](mailto:products@bitvore.com). The API key can be used directly or to obtain\
    \ an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security) page. \n\n"
  Portfolios API: "## Portfolios API \n\n Bitvore RESTful APIs useful for integrating with a muni portfolio so that querying\
    \ news articles can be focused on relevant muni information and performed in a simplified manner. \n\n The Municipal News\
    \ API key can be used to access the Portfolio APIs. To register for an API Key please contact [customer support](mailto:support@bitvore.com).\
    \ The API key can be used directly or to obtain an OAuth access token as described on the [Security APIs](http://developer.bitvore.com/v2/docs/security)\
    \ page. \n\n ### Portfolio Management API \n\n The Portfolio Management API provides the ability to create, or replicate\
    \ a portfolio in the Bitvore system. The entities to be tracked in the portfolio are identified by CUSIPs. The benefit\
    \ of creating a portfolio in Bitvore is the news APIs both take a portfolio ID as a parameter making it easy to retrieve\
    \ news for a portfolio. \n\n A set of sample CSV files listing companies found [here](http://developer.bitvore.com/v2/docs/api-reference/portfolios)\
    \ can be used to quickly create portfolios of your own. Simply download the CSV file you want to create your portfolio\
    \ with, create a new CUSIP portfolio, and then use the [Upload Portfolio Items](http://developer.bitvore.com/v2/docs/api-reference/corp?tagname=Portfolios%20API)\
    \ API call to fill the new portfolio from the CSV file. Note the portfolio ID generated and then use that ID when querying\
    \ for portfolio news using the [Muni News API](http://developer.bitvore.com/v2/docs/api-reference/muni?tagname=News%20API).\
    \ \n\n ## Custom Ids (Id Mapping) \n\n Portfolio items support the mapping of custom ids. These custom Ids are not required,\
    \ but when used along with the other APIs, it helps facilitate the mapping, discovery and identification of these ids\
    \ to existing Bitvore Ids. \n\n To include a mapping, construct an PortfolioItem and ItemCustomId as followed \n\n ```js\n\
    \ { \n \t \"id\": \"1823062A7\", \n \t \"customIds\": \n \t\t[{ \n \t\t\"id\": \"Clarkstown NY\", \n \t\t\"type\": \"\
    FOREIGN_NAME\" \n \t}, \n \t{ \n \t\t\"id\": \"0x000ABC\", \n \t\t\"type\": \"FOREIGN_ID\" \n \t}] \n } \n ```\n \n\n\
    \ Please note when using the Portfolio API, you should not mix the use of update items by 'Ids' and 'Items' as they can\
    \ overwrite existing data. \n \n\n "
